<div class="curriculum_add--overlay"></div>
<div class="container">
<!-- utilities -->
	<!-- <div class="notification">
		<div class="content">
			<p>Ok successfully delete</p>
		</div>
	</div> -->
<!-- sidebar -->
	<div class="three column admin_sidebar boxShadow ">
		<div class="person">
			<div class="person_image"><img src="img/me.png" alt=" Profile picture "></div>
			<div class="person_name">{{currentUser.name}}</div>
			<div class="person_role">{{currentUser.roles}}</div>
		</div>
		<div class="admin_sidebarNav">
			<ul>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Curriculum</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Assestments</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Faculty and Staff</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Blog</a>
				</li>
			</ul>
		</div>
	</div>
<!-- contents -->
	<div class="nine column pull--right">
	
		<!-- Curriculum list -->
		<article class="content row">
			<div class="row">
				<h3 class="content_title">Curriculum <add-cur></add-cur></h3> <span class="error_message">{{curriculumError}}</span>
			</div>
			<div ng-repeat="curriculumYear in curriculumList">
				<div class="curriculum four column">
					<div class="curriculum_box cf">
						<div class="tag"><h3>{{curriculumYear.curriculumYear}}</h3></div>
						<div class="tag">Curriculum</div>
						<div class="curriculum_box--overlay">
							<show-departments  ng-click="viewCur(curriculumYear.curriculumYear)">View</show-departments>
							<closedepartment-list ng-click="deleteCur(curriculumYear)"></closedepartment-list>
						</div>
					</div>
				</div>
			</div>
		</article>

		<!-- adding of year -->
		<div class="curriculum_year">
			<closeadd-cur>X</closeadd-cur>
			<input-group>
				<input type="text" class="input_units" ng-model="curriculum_new.curriculum_year">
				<label for="">Year</label>
			</input-group>
			<closeadd-cur class="btn pull--right" ng-click="addCurriculum(curriculum_new)">Save</closeadd-cur>
		</div>
		<!-- curriculum information -->
		<article class="content row departmentList">
			<h3 class="content_title"><span>Curriculum {{curYear}}</span></h3>

			<closedepartment-list ng-click="closeDepartments"></closedepartment-list>

			<form class="departmentList_items">

				<h4>Departments <add-department></add-department></h4>
				<span class="error_message" ng-show="errorMessage">{{errorMessage}}</span>
				<div class="newDepartment--overlay overlay"></div>

				<!-- add departments -->
				<div class="newDepartment boxShadow six column">
					<closeadd-department></closeadd-department>
					<input-group>
						<input type="text" ng-model="dep.depName" class="input_des">
						<label for="">Department Name</label>
	    			</input-group>
					<input-group>
						<input type="text" ng-model="dep.depDes" class="input_des">
						<label for="">Department Description</label>
					</input-group>
					<div class="btn btn--blue" ng-click="addDep(curYear)">Add</div>
				</div>

				<!-- update department -->
				<div class="updateDepartment boxShadow six column">
					<update-department class="btn--close">X</update-department>
					<input-group>
						<input type="text" ng-model="setDep.department_name" class="input_des">
						<label for="">Department Name</label>
	    			</input-group>
					<input-group>
						<input type="text" ng-model="setDep.department_des" class="input_des">
						<label for="">Department Description</label>
					</input-group>
					<update-department class="btn btn--blue" ng-click="updateDep(setDep)">Update</update-department>
				</div>

				<!-- department list -->
				<ul class="department_settings row" ng-repeat="department in curriculum">
					<li ng-click="getCourses(department._id,department)">
					<span>{{department.department_name}}</span>
					<span>{{department.department_des}}</span>
					<button class="btn btn--red" ng-click="deleteDep(department._id, curYear)">X</button>
					<update-department class="btn btn--orange" ng-click="editDep(department)">edit</update-department>
					</li>
				</ul>
				<!-- department courses -->
				<table ng-show="departmentClick">
					<caption>{{department_code}}</caption>
					<thead>
						<tr>
							<td>
								<input-group>
									<input type="text" class="input_name" ng-model="dep.course_name">
									<label for="">Course code</label>
								</input-group>
							</td>
							<td>
								<input-group>
									<input type="text" class="input_des" ng-model="dep.course_des">
									<label for="">Course description</label>
								</input-group>
							</td>
							<td>
								<input-group>
									<input type="number" class="input_units" ng-model="dep.totalYears" min="1" max="5">
									<label for="">years</label>
								</input-group>
							</td>
							<td><button class="btn btn--blue" ng-click="addCourse(dep)">Add</button></td>
							<td><button class="btn btn--green" ng-click="updateCourse(dep)">Update</button></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Course Code</th>
							<th>Course description</th>
							<th># of years</th>
							<th>semester</th>
						</tr>
						<tr ng-repeat="course in courses.courses">
							<td>{{course.course_name}}</td>
							<td>{{course.course_des}}</td>
							<td>{{course.totalYears}}</td>
							<td>{{course.totalTerms}}</td>
							<td><show-subjects ng-click="getSubjects(course._id)"></show-subjects></td>
							<td><button class="btn btn--orange" ng-click="editCourse(course)">Edit</button></td>
							<td><button class="btn btn--red" ng-click="deleteCourse(course)">Delete</button></td>
						</tr>
					</tbody>
				</table>
			</form>
		</article>
		<!-- assestment view -->
		<article class="content row">
			<div class="row">
				<h3 class="content_title">Assestment <openfees></openfees></h3><span class="error_message">{{errorAssestment}}</span>
			</div>
			<div class="assestment_add--overlay overlay"></div>
			<!-- add school fee -->
			<div class="assestment_add boxShadow">
				<close-school-fees>X</close-school-fees>
				<input-group>
					<input type="text" ng-model="schoolFee.name">
					<label for="fee_label">Type of School Fee</label>
				</input-group>
				<close-school-fees class="btn btn--blue" ng-click="addSchoolFee(schoolFee)">Save</close-school-fees>
			</div>
			<!-- add fees -->
			<div class="assestment">
				<div class="assestment--overlay">
					<form action="" class="assestment_form row">
						<closefees ng-click="closeFees()"></closefees>
						<input-group>
							<input type="text" value="{{typeOfFee}}">
							<label for="fee_label">Type of School Fee</label>
						</input-group>
						<div class="assestment_mtn row">
							<table class=" twelve column">
								<thead>
									<tr>
										<td>
											<input-group>
												<input type="text" ng-model="fee.fee_name">
												<label for="fee_name">Fee name</label>
											</input-group>
										</td>
										<td>
											<input-group>
												<input type="number" ng-model="fee.amount">
												<label for="fee_amount">Fee amount</label>
											</input-group>
										</td>
										<td>
											<div class="btn btn--blue" ng-click="newFee(typeOfFee_id)">Add</div>
										</td>
										<td>
											<div class="btn btn--green" ng-click="updateFee(fee)">Update</div>
										</td>
									</tr>
								</thead>
								<tbody class="assestment_mtn_body">
									<tr>
										<th>Name</th>
										<th>Amount</th>
										<th>date created</th>
									</tr>
									<tr ng-repeat="studentFee in fees.fees">
										<td>{{studentFee.fee_name}}</td>
										<td><span>P</span>{{studentFee.amount | number}}</td>
										<td>{{studentFee.date_created}}</td>
										<td><div class="btn btn--orange" ng-click="editFee(studentFee)">Edit</div></td>
										<td><div class="btn btn--red" ng-click="deleteFee(typeOfFee_id, studentFee)">Delete</div></td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
				</div>
				<table class="assestment_fees twelve column">
					<thead>
						<tr>
							<th>Type of Fee</th>
							<th>Total Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="fee in assestments">
							<td>{{fee.typeOfFee}}</td>
							<td><span>P</span>{{fee.totalAmount | number}}</td>
							<td><show-fees ng-click="viewFees(fee._id)"></show-fees></td>
							<td><div class="btn btn--red" ng-click="deleteAssestment(fee._id)">Delete</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<!-- faculty and staff -->
		<article class="content row facultyStaff">
			<h3 class="content_title">Faculty and Staff <faculty-stuff>+</faculty-stuff></h3>
			<span class="error_message">{{errorUser}}</span>
			<input_group>
				<input type="text" ng-model="searchUser">
				<label for="">Search for users</label>
			</input_group>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Role</th>
						<th>Username</th>
						<th>Password</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in userList | orderBy:'roles'| filter:searchUser | limitTo: 15 ">
						<td>{{user.name}}</td>
						<td>{{user.roles}}</td>
						<td>{{user.username}}</td>
						<td>{{user.password}}</td>
						<td><div class="btn btn--orange">Edit</div></td>
						<td><div class="btn btn--red" ng-click="deleteUser(user._id)">Delete</div></td>
					</tr>
				</tbody>
			</table>
			<div class="addFacultyStaff boxShadow three column">
				<h4>Add user</h4>
				 <faculty-stuff>X</faculty-stuff>
				<input-group>
					<input type="text" ng-model="user.name">
					<label for="">Full Name</label>
				</input-group>
				<input-group>
					<input type="text" ng-model="user.username">
					<label for="">Username</label>
				</input-group>
				<input-group>
					<input type="password" ng-model="user.password">
					<label for="">Password</label>
				</input-group>
				<div class="addFacultyStaff_roles">
					<div class="small">Role</div>
					<select name="" id="" ng-model="user.roles">
						<option value="">--select role--</option>
						<option value="teacher">Teacher</option>
						<option value="evaluator">Evaluator</option>
						<option value="registrar">Registrar</option>
						<option value="program-coordinator">Program Coordinator</option>
						<option value="administrator">Administrator</option>
					</select>
				</div>
				<faculty-stuff ng-click="addUser(user)" class="pull--right">Save</faculty-stuff>
			</div>
		</article>
	</div>
	<!-- course subjects -->
	<div class="overlay"></div>
	<div class="course_subjects content eleven column">
		<close-course-subjects></close-course-subjects>
		<span>Course: {{courseName}}</span>
		<span>Course Title: {{courseDes}}</span>
		<ul>
			<li ng-repeat="courseYear in courseYears">
				<div class="btn" ng-click="subjectInYear(courseYear,departmentId)">{{courseYear}}</div>
			</li>
		</ul>
		<div class="course_subjectsList">
			<ul>
				<li ng-repeat="courseTerm in courseTerms">
					<div class="btn" ng-click="subjectWithTerm(courseTerm,departmentId)">{{courseTerm}} semester</div>
				</li>
			</ul>
			<table>
				<thead ng-show="semesterClick">
					<tr>
						<th>
							Year
						</th>
						<th>
							Term
						</th>
						<td>
							<input-group>
								<input type="text" class="input_name" ng-model="subject.subName">
								<label for="">Subject code</label>
							</input-group>
						</td>
						<td>
							<input-group>
								<input type="text" class="input_des" ng-model="subject.subDes">
								<label for="">Description</label>
							</input-group>
						</td>
						<td>
							<input-group>
								<input type="text" class="input_units" ng-model="subject.subUnits">
								<label for="">Units</label>
							</input-group>
						</td>
						<td>
							<input-group>
								<input type="text" class="input_units" ng-model="subject.subCpu">
								<label for="">Cost/Units</label>
							</input-group>
						</td>
						<td>
							<input-group>
								<input type="text" class="input_preRequisite" ng-model="subject.subPreRequisite">
								<label for="">Pre-requisite</label>
								<ul class="preRequisite" ng-show="subject.subPreRequisite">
									<li ng-repeat= "subject in subjectList | filter:subject.subPreRequisite | limitTo:5" ng-click="getPre(subject)">{{subject}}</li>
								</ul>
							</input-group>
						</td>
						<td>
							<button class="btn btn--blue" ng-click="addSubjects(departmentId,courseName, courseDes, subject)">Add</button>
						</td>
						<td>
							<button class="btn btn--green" ng-click="updateSubject(departmentId,subject)">Update</button>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="yearClick">
						<th>Year</th>
						<th>Term</th>
						<th>Subject Code</th>
						<th>Subject Title</th>
						<th>Unit</th>
						<th>Cost/units</th>
						<th>Pre-requisite</th>
					</tr>
					<tr ng-repeat = "subject in subjects">
						<td>{{subject.year_level}}</td>
						<td>{{subject.term}}</td>
						<td>{{subject.subject_name}}</td>
						<td>{{subject.subject_des}}</td>
						<td>{{subject.units}}</td>
						<td>{{subject.cost_perUnits}}</td>
						<td>{{subject.pre_requisite}}</td>
						<td>
							<div class="btn btn--orange" ng-show="semesterClick" ng-click="editSubject(subject)">Edit</div>
							<div class="btn btn--red" ng-click="deleteSubject(departmentId,subject)" ng-show="semesterClick">Delete</div>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div> 
</div>