<div class="container">
	<div class="overlay"></div>
	<div class="three column admin_sidebar">
		<div class="person">
			<div class="person_image"><img src="img/me.png" alt=" Profile picture "></div>
			<div class="person_name">Robert Admin</div>
			<div class="person_role">Evaluator</div>
		</div>
		<div class="admin_sidebarNav">
			<ul>
				<li class="admin_sidebarNav--list">
					<a href="" class="admin_sidebarNav--item">Student List</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a href="" class="admin_sidebarNav--item">Courses</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Registration</a>
				</li>
			</ul>
		</div>
	</div>
    <div class="nine column pull--right">
    	<article class="content row">
	    	<!-- search for new students -->
			<div class="search_student row">
				<div class="input_groups">
					<input type="search" ng-model="searchStudents"/>
					<label>Search Student</label>
				</div>
				<table>
					<thead>
					  <tr>
					  	<th>Student No.</th>
					    <th>Name</th>
					    <th>Address</th>
					    <th>Contact no.</th>
					  </tr>
					</thead>
					<tbody>
						<tr ng-repeat="student in students | filter:searchStudents | limitTo: 10">
							<td>{{student.student_no}}</td>
							<td>{{student.first_name}} {{student.middle_name}} {{student.last_name}}</td>
							<td>{{student.address}}</td>
							<td>{{student.contact}}</td>
							<td>
								<toggle-student-info ng-click="viewInfo(student._id)">Information</toggle-student-info>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
    	</article>
	    <div class="registration_form row">
	    	<h3>Registration Form</h3>
	   		<h4>Application data</h4>
	   		<!-- student course choice -->
	   		<input-group>
	    		<select name="" id="" ng-model="newStudent.course_name">
	    			<option value="">--Select Courses--</option>
	    			<option value="{{course.course_name}}" ng-repeat="course in courses">{{course.course_name}}--{{course.course_des}}</option>
	    		</select>
	    	</input-group>
	    	<input-group>
	    		Year:
	    		<ul class="list_items">
	    			<li><input type="checkbox" ng-model="newStudent.year_level" ng-true-value=1>1st</li>
	    			<li><input type="checkbox" ng-model="newStudent.year_level" ng-true-value=2>2nd</li>
	    			<li><input type="checkbox" ng-model="newStudent.year_level" ng-true-value=3>3rd</li>
	    			<li><input type="checkbox" ng-model="newStudent.year_level" ng-true-value=4>4th</li>
	    		</ul>
	    	</input-group>
	    	<input-group>
	    		Term:
	    		<ul class="list_items">
	    			<li><input type="checkbox" ng-model="newStudent.term" ng-true-value=1>1st semester</li>
	    			<li><input type="checkbox" ng-model="newStudent.term" ng-true-value=2>2nd semester</li>
	    		</ul>
	    	</input-group>
	    	<h4>Personal Data</h4>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.first_name">
	    		<label>First name</label>
	    	</input-group>
			<input-group>
	    		<input type="text" ng-model="newStudent.last_name">
	    		<label>Last name</label>
	    	</input-group>
			<input-group>
	    		<input type="text" ng-model="newStudent.middle_name">
	    		<label>Middle name</label>
	    	</input-group>
	    	<input-group>
	    		<input type="Number" ng-model="newStudent.age">
	    		<label>Age</label>
	    	</input-group>
	    	<input-group>
	    		<span>Gender:</span>
	    		<span>Male</span>
	    		<input type="checkbox" ng-model="newStudent.gender" ng-true-value="'male'">
	    		<span>Female</span>
	    		<input type="checkbox" ng-model="newStudent.gender" ng-true-value="'female'">
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.address">
	    		<label>Address</label>
	    	</input-group>
	    	<input-group>
	    		<input type="number" ng-model="newStudent.contact">
	    		<label>Contact no.</label>
	    	</input-group>
	    	<input-group>
	    		<input type="date" ng-model="newStudent.date">
	    		<label>Date of Birth</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.nationality">
	    		<label>Nationality</label>
	    	</input-group>
	    	<input-group>
	    		<span>Civil Status:</span>
	    		<span>Single</span>
	    		<input type="checkbox" ng-model="newStudent.civil_status" ng-true-value="'single'">
	    		<span>Married</span>
	    		<input type="checkbox" ng-model="newStudent.civil_status" ng-true-value="'married'">
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.religion">
	    		<label>Religion</label>
	    	</input-group>
	    	<input-group>
	    		<input type="email" ng-model="newStudent.email">
	    		<label>email</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.mother_name">
	    		<label>mother's name</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.mother_occupation">
	    		<label>mother's Occupation</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.father_name">
	    		<label>Father's name</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.father_occupation">
	    		<label>Father's Occupation</label>
	    	</input-group>
	    	<h4>Educational Background</h4>
	    	<input-group>
	    		<label></label>
	    		<select name="" id="" ng-model="newStudent.high_Educ_Att">
	    			<option value="">--Highest Educational Attended--</option>
	    			<option value="high-school">High School</option>
	    			<option value="college">College</option>
	    			<option value="vocational">Vocational</option>
	    			<option value="masteral">Masteral</option>
	    			<option value="doctorate">Doctorate</option>
	    		</select>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.prev_school">
	    		<label>previous school</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.prev_school_add">
	    		<label>school address</label>
	    	</input-group>
	    	<h4>Guardian</h4>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.guardian_name">
	    		<label>Guardian name</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.guardian_add">
	    		<label>address</label>
	    	</input-group>
	    	<input-group>
	    		<input type="number" ng-model="newStudent.guardian_contact">
	    		<label>contact no.</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.guardian_rel">
	    		<label>relationship</label>
	    	</input-group>
	    	<div class="btn" ng-click="addNewStudent(newStudent)">Save</div>
	    </div>
	</div>
	<div class="course_subjects boxShadow">
		<span>{{courseName}}</span>
		<span>{{courseDes}}</span>
		<ul>
			<li ng-repeat="courseYear in courseYears">
				<div class="btn" ng-click="subjectInYear(courseYear,departmentId)">{{courseYear}}</div>
			</li>
		</ul>
		<div class="course_subjectsList">
			<ul>
				<li ng-repeat="courseTerm in courseTerms">
					<div class="btn" ng-click="subjectWithTerm(courseTerm,departmentId)">{{courseTerm}} semester</div>
				</li>
			</ul>
			<table>
				<thead>
					<tr>
						<th>
							Year
						</th>
						<th>
							Term
						</th>
						<th>
							<input-group>
								<input type="text" class="input_name" ng-model="subject.subName">
								<label for="">Subject code</label>
							</input-group>
						</th>
						<th>
							<input-group>
								<input type="text" class="input_des" ng-model="subject.subDes">
								<label for="">Description</label>
							</input-group>
						</th>
						<th>
							<input-group>
								<input type="text" class="input_units" ng-model="subject.subUnits">
								<label for="">Units</label>
							</input-group>
						</th>
						<th>
							<input-group>
								<input type="text" class="input_units" ng-model="subject.subCpu">
								<label for="">Cost/Units</label>
							</input-group>
						</th>
						<th>
							<input-group>
								<input type="text" class="input_preRequisite" ng-model="subject.subPreRequisite">
								<label for="">Pre-requisite</label>
							</input-group>
						</th>
						<th>
							<button class="btn btn--blue" ng-click="addSubjects(departmentId,courseYear, courseTerm, courseName, courseDes, subject)">Add</button>
						</th>
						<th>
							<button class="btn btn--green">Update</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "subject in subjects">
						<td>{{subject.year_level}}</td>
						<td>{{subject.term}}</td>
						<td>{{subject.subject_name}}</td>
						<td>{{subject.subject_des}}</td>
						<td>{{subject.units}}</td>
						<td>{{subject.cost_perUnits}}</td>
						<td>{{subject.pre_requisite}}</td>
						<td><div class="btn btn--orange">Edit</div></td>
						<td><div class="btn btn--red">Delete</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div> 
	<div class="twelve column content student_subjects">
		<span>Name:</span><span>Robert Janagap</span>
		<span>course:</span><span>BSIT</span>
		<span>year</span>
		<table>
			<thead>
				<tr>
					<th>Subject Name</th>
					<th>Subject des</th>
					<th>course year</th>
					<th>course term</th>
					<th>units</th>
					<th>cost/units</th>
					<th>pre-requisite</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Addprog</td>
					<td>Addvance programming</td>
					<td>1</td>
					<td>1</td>
					<td>3</td>
					<td>30</td>
					<td>none</td>
					<td><button>select</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="student_info eleven column modal">
		<toggle-student-info ng-click="viewInfo(new)">X</toggle-student-info>
        <div class="student_info_details row">
        	<h4>Student No:{{studentInfo.student_no}}</h4>
        	<h4>Student Information</h4>
            <div class="block">
          		<span class="caption">Student Name</span><span>{{studentInfo.first_name}} {{studentInfo.middle_name}} {{studentInfo.last_name}}</span>
            </div>
            <div class="block">
              <span>Age</span><span>{{studentInfo.age}}</span>
            </div>
            <div class="block">
              <span>Gender</span><span>{{studentInfo.gender}}</span>
            </div>
            <div class="block">
              <span>Address</span><span>{{studentInfo.address}}</span>
            </div>
            <div class="block">
              <span>Contact No.</span><span>{{studentInfo.contact}}</span>
            </div>
            <div class="block">
              <span>Date of Birth</span><span>{{studentInfo.birthday}}</span>
            </div>
            <div class="block">
              <span>Nationality</span><span>{{studentInfo.nationality}}</span>
            </div>
            <div class="block">
              <span>civil status</span><span>{{studentInfo.civil_status}}</span>
            </div>
            <div class="block">
              <span>Email</span><span>{{studentInfo.email}}</span>
            </div>
            <div class="block">
              <span>Mother's name</span><span>{{studentInfo.mother_name}}</span>
            </div>
            <div class="block">
              <span>Mother's Occupation</span><span>{{studentInfo.mother_occupation}}</span>
            </div>
            <div class="block">
              <span>father's name</span><span>{{studentInfo.father_name}}</span>
            </div>
            <div class="block">
              <span>father's Occupation</span><span>{{studentInfo.father_occupation}}</span>
            </div>
            <h4>School Attended</h4>
            <div class="block">
              <span>Highest Educational Attended</span><span>{{studentInfo.high_Educ_Att}}</span>
            </div>
            <div class="block">
              <span>Previous School</span><span>{{studentInfo.prev_school}}</span>
            </div>
            <div class="block">
              <span>School Address</span><span>{{studentInfo.prev_school_add}}</span>
            </div>
            <h4>Guardian</h4>
            <div class="block">
              <span>Guardian name</span><span>{{studentInfo.guardian_name}}</span>
            </div>
            <div class="block">
              <span>Address</span><span>{{studentInfo.guardian_add}}</span>
            </div>
            <div class="block">
          		<span>Contact no.</span><span>{{studentInfo.guardian_contact}}</span>
            </div>
            <div class="block">
            	<span>Relationship</span><span>{{studentInfo.guardian_rel}}</span>
            </div>
        </div>
        <div class="curriculum_subjects">
        	<h4>curriculum subjects</h4>
        	<table>
        		<thead>
	        		<th>Year</th>
					<th>Term</th>
					<th>Subject Code</th>
					<th>Subject Title</th>
					<th>Unit</th>
					<th>Cost/units</th>
					<th>Pre-requisite</th>
        		</thead>
        		<tbody></tbody>
        	</table>
        </div>
    </div>
</div>