<div class="container">
	<div class="three column admin_sidebar">
		<div class="person">
			<div class="person_image"><img src="img/me.png" alt=" Profile picture "></div>
			<div class="person_name">Robert Admin</div>
			<div class="person_role">Evaluator</div>
		</div>
		<div class="admin_sidebarNav">
			<ul>
				<li class="admin_sidebarNav--list">
					<a href="" class="admin_sidebarNav--item">Student List</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a href="" class="admin_sidebarNav--item">Courses</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Registration</a>
				</li>
			</ul>
		</div>
	</div>
    <div class="nine column pull--right">
    	<div class="search_student row">
	      <div class="input_groups">
	        <input type="search"/>
	        <label>Search Student</label>
	      </div>
	      <table>
	        <thead>
	          <tr>
	            <th>Name</th>
	            <th>Age</th>
	            <th>Gender</th>
	            <th>Address</th>
	            <th>Contact no.</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>Mark Carumba</td>
	            <td>32</td>
	            <td>female</td>
	            <td>Murcia cadiz talisay stree.t no.8</td>
	            <td>xxxxxxx</td>
	            <td> <a href="" class="view">View</a></td>
	            <td> <a href="" class="view">subjects</a></td>
	          </tr>
	          <tr>
	            <td>Rhoi Abello</td>
	            <td>32</td>
	            <td>female</td>
	            <td>Silay</td>
	            <td>xxxxxxx</td>
	            <td> <a href="" class="view">View</a></td>
	            <td> <a href="" class="view">subjects</a></td>
	          </tr>
	          <tr>
	            <td>Anthony Abellar</td>
	            <td>32</td>
	            <td>female</td>
	            <td>Silay</td>
	            <td>xxxxxxx</td>
	            <td> <a href="" class="view">View</a></td>
	            <td> <a href="" class="view">subjects</a></td>
	          </tr>
	          <tr>
	            <td>Robert Janagap</td>
	            <td>32</td>
	            <td>female</td>
	            <td>Silay</td>
	            <td>xxxxxxx</td>
	            <td> <a a href="" class="view">View</a></td>
	            <td> <a href="" class="view">subjects</a></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
	    <div class="registration_form row">
	    	<h3>Registration Form</h3>
	    	<h4>Personal Data</h4>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.first_name">
	    		<label>First name</label>
	    	</input-group>
			<input-group>
	    		<input type="text" ng-model="newStudent.last_name">
	    		<label>Last name</label>
	    	</input-group>
			<input-group>
	    		<input type="text" ng-model="newStudent.middle_name">
	    		<label>Middle name</label>
	    	</input-group>
	    	<input-group>
	    		<input type="Number" ng-model="newStudent.age">
	    		<label>Age</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.gender">
	    		<label>Gender</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.address">
	    		<label>Address</label>
	    	</input-group>
	    	<input-group>
	    		<input type="number" ng-model="newStudent.contact">
	    		<label>Contact no.</label>
	    	</input-group>
	    	<input-group>
	    		<input type="date" ng-model="newStudent.date">
	    		<label>Date of Birth</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.nationality">
	    		<label>Nationality</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.civil_status">
	    		<label>civil status</label>
	    	</input-group>
	    	<input-group>
	    		<input type="email" ng-model="newStudent.email">
	    		<label>email</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.mother_name">
	    		<label>mother's name</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.mother_occupation">
	    		<label>mother's Occupation</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.father_name">
	    		<label>Father's name</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.father_occupation">
	    		<label>Father's Occupation</label>
	    	</input-group>
	    	<h4>school attended</h4>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.high_Educ_Att">
	    		<label>Highest Educational Attended</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.prev_school">
	    		<label>previous school</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.prev_school_add">
	    		<label>school address</label>
	    	</input-group>
	    	<h4>Guardian</h4>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.guardian_name">
	    		<label>Guardian name</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.guardian_add">
	    		<label>address</label>
	    	</input-group>
	    	<input-group>
	    		<input type="number" ng-model="newStudent.guardian_contact">
	    		<label>contact no.</label>
	    	</input-group>
	    	<input-group>
	    		<input type="text" ng-model="newStudent.guardian_rel">
	    		<label>relationship</label>
	    	</input-group>
	    	<div class="btn" ng-click="addNewStudent(newStudent)">Save</div>
	    </div>
	</div>
	<div class="twelve column findCurriculum_courses">
		<div class="course_view">
			<h3>Find course info</h3>
			<div class="selectBar">
			    <span>Department</span>
			    <select>
			      <option>ICT</option>
			      <option>Arts and science</option>
			      <option>engineering</option>
			    </select>
			</div>
			<div class="selectBar">
		    <span>Course</span>
			    <select>
			      <option>BSIT</option>
			      <option>BSOA</option>
			      <option>BSAT</option>
			    </select>
		    </div>
		    <div class="selectBar">
			    <span>Year</span>
			    <select>
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			    </select>
		    </div>
		    <div class="selectBar">
			    <span>Term</span>
			    <select>
			      <option>1</option>
			      <option>2</option>
			    </select>
		    </div>
		    <h4>Course Information</h4>
		    <table class="courses">
			    <thead>
			      <tr>
			        <th>Year</th>
			        <th>term</th>
			        <th>course code</th>
			        <th>course des</th>
			        <th>subject code</th>
			        <th>subject des</th>
			        <th>pre-requisite</th>
			        <th>units</th>
			        <th>cost/units</th>
			        <th>tuition</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>1</td>
			        <td>1</td>
			        <td>BSIT</td>
			        <td>Bachelor of information technology</td>
			        <td>
			          <div class="subject_code">Addprog</div>
			          <div class="subject_code">addbase</div>
			          <div class="subject_code">addbase</div>
			          <div class="subject_code">Addprog</div>
			        </td>
			        <td> 
			          <div class="subject_des">addvance programming</div>
			          <div class="subject_des">addvance programming</div>
			          <div class="subject_des">addvance programming</div>
			          <div class="subject_des">addvance programming</div>
			        </td>
			        <td> 
			          <div class="subject_des">pre-requisite</div>
			          <div class="subject_des">pre-requisite</div>
			          <div class="subject_des">pre-requisite</div>
			          <div class="subject_des">pre-requisite</div>
			        </td>
			        <td> 
			          <div class="units">3</div>
			          <div class="units">3</div>
			          <div class="units">3</div>
			          <div class="units">3</div>
			        </td>
			        <td>
			          <div class="cpu">30</div>
			          <div class="cpu">30</div>
			          <div class="cpu">30</div>
			          <div class="cpu">30</div>
			        </td>
			        <td> 
			          <div class="tuition">P1800</div>
			          <div class="tuition">P1800</div>
			          <div class="tuition">P1800</div>
			          <div class="tuition">P1800</div>
			        </td>
			      </tr>
			      <tr>
			        <td>1</td>
			        <td>2</td>
			        <td>BSIT</td>
			        <td>Bachelor of information technology</td>
			        <td>
			          <div class="subject_code">Addprog</div>
			          <div class="subject_code">addbase</div>
			        </td>
			        <td> 
			          <div class="subject_des">addvance programming</div>
			          <div class="subject_des">addvance programming</div>
			        </td>
			         <td> 
			          <div class="subject_des">pre-requisite</div>
			          <div class="subject_des">pre-requisite</div>
			        </td>
			        <td> 
			          <div class="units">3</div>
			          <div class="units">3</div>
			        </td>
			        <td>
			          <div class="cpu">30</div>
			          <div class="cpu">30</div>
			        </td>
			        <td> 
			          <div class="tuition">P1800</div>
			          <div class="tuition">P1800</div>
			        </td>
			      </tr>
			    </tbody>
			</table>
		</div>
	</div>
	<div class="twelve column content student_subjects">
		<span>Name:</span><span>Robert Janagap</span>
		<span>course:</span><span>BSIT</span>
		<span>year</span>
		<table>
			<thead>
				<tr>
					<th>Subject Name</th>
					<th>Subject des</th>
					<th>course year</th>
					<th>course term</th>
					<th>units</th>
					<th>cost/units</th>
					<th>pre-requisite</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Addprog</td>
					<td>Addvance programming</td>
					<td>1</td>
					<td>1</td>
					<td>3</td>
					<td>30</td>
					<td>none</td>
					<td><button>select</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="student_info twelve column">
        <div class="student_info_details row">
            <h3>Student Information</h3>
            <div class="block">
          		<span class="caption">Student Name</span><span>Robert Janagap</span>
            </div>
            <div class="block">
              <span>Age</span><span>20</span>
            </div>
            <div class="block">
              <span>Gender</span><span>Male</span>
            </div>
            <div class="block">
              <span>Address</span><span>Talisay City</span>
            </div>
            <div class="block">
              <span>Contact No.</span><span>xxxxxx</span>
            </div>
            <div class="block">
              <span>Date of Birth</span><span>11-06-1994</span>
            </div>
            <div class="block">
              <span>Nationality</span><span>Filifino</span>
            </div>
            <div class="block">
              <span>civil status</span><span>Single</span>
            </div>
            <div class="block">
              <span>Email</span><span>xxx@gmail.com</span>
            </div>
            <div class="block">
              <span>Mother's name</span><span>trythis</span>
            </div>
            <div class="block">
              <span>Mother's Occupation</span><span>housewife</span>
            </div>
            <div class="block">
              <span>father's name</span><span>testing</span>
            </div>
            <div class="block">
              <span>father's Occupation</span><span>househusband</span>
            </div>
            <h3>School Attended</h3>
            <div class="block">
              <span>Highest Educational Attended</span><span>College</span>
            </div>
            <div class="block">
              <span>Previous School</span><span>STI</span>
            </div>
            <div class="block">
              <span>School Address</span><span>Cadiz city</span>
            </div>
            <h3>Guardian</h3>
            <div class="block">
              <span>Guardian name</span><span>Guardian</span>
            </div>
            <div class="block">
              <span>Address</span><span>silay city</span>
            </div>
            <div class="block">
          		<span>Contact no.</span><span>xxxxxx</span>
            </div>
            <div class="block">
            	<span>Relationship</span><span>Sister</span>
            </div>
        </div>
    </div>
</div>