  <div class="footer">
    <div class="container">   
      <div class="footer-content twelve column">
        <div class="contact four column">
          <div class="contact-info"><span>Contact Us
              <div class="pad-bot"></div></span>
            <ul>
              <li><a>Location: </a><br/><a>&nbsp; Taculing Road, Brgy.Taculing, Bacolod City </a><br/><a>&nbsp; Brgy. Sum-ag, Bacolod City</a></li>
              <li><a>Phone Numbers: </a><br/><a>&nbsp; (034) 708-6200 (Taculing Campus)</a><br/><a>&nbsp; 444-0194 (Sum-ag campus)</a></li>
              <li><a>Email: </a><br/><a>&nbsp; bcc@gmail.com</a></li>
              <div class="pad-bot"></div>
              <div class="pad-bot"></div>
              <div class="pad-bot"></div>
            </ul>
          </div>
          <div class="copyright">Bacolod City College &nbsp; &copy; 2015</div>
        </div>
        <div class="admission three column"><span>Admission
            <div class="pad-bot"></div></span>
          <ul>
            <li><a href="#1">Register Online</a></li>
            <li><a href="#1">Admission Requirments</a></li>
            <li><a href="#1">Enrollment Procedures</a></li>
            <li><a href="#1">Policies</a></li>
          </ul>
        </div>
        <div class="about three column"><span>About
            <div class="pad-bot"></div></span>
          <ul>
            <li><a href="#1">About the School</a></li>
            <li><a href="#1">Mission and Vission</a></li>
            <li><a href="#1">Hyme</a></li>
            <li><a href="#1">Administration</a></li>
            <li><a href="#1">Career's</a></li>
            <li><a href="#1">Support and Services</a></li>
          </ul>
        </div>
        <div class="academics two column"><span>Academics
            <div class="pad-bot"></div></span>
          <ul>
            <li><a href="#">Courses Offered</a></li>
            <li><a href="#">Event Calendar</a></li>
            <div class="pad-bot"></div>
            <div class="pad-bot"></div>
            <div class="pad-bot"></div>
          </ul>
          <div class="links"><span>Follow me
              <div class="pad-bot"></div></span>
            <ul>
              <li><a href="#"><img src="/img/FB.png"/></a></li>
              <li><a href="#"><img src="/img/twt.png"/></a></li>
              <li><a href="#"><img src="/img/utube.png"/></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>