<div ng-controller="navCtrl">
    <footer ng-hide="currentUser">
        <div class="container">
            <nav class="footer_nav row">
                <ul>
                    <li class="two column footer_nav_list">
                        <h4>Admission</h4>
                        <ul class="footer_nav_sub">
                            <li><a href="">Registration</a></li>
                            <li><a href="">Admission Requirements</a></li>
                            <li><a href="">Enrollment Procedure</a></li>
                            <li><a href="">Policies</a></li>
                        </ul>
                    </li>
                    <li class="two column footer_nav_list">
                        <h4>About</h4>
                        <ul class="footer_nav_sub">
                            <li><a href="">School Information</a></li>
                            <li><a href="">Administration</a></li>
                            <li><a href="">Support Services</a></li>
                        </ul>
                    </li>
                    <li class="two column footer_nav_list">
                        <h4>Academics</h4>
                        <ul class="footer_nav_sub">
                            <li><a href="">Courses Offered</a></li>
                            <li><a href="">Events Calendar</a></li>
                        </ul>
                    </li>
                    <li class="three column footer_nav_list">
                        <h4>Contact us</h4>
                        <span>Location:</span>
                        <p>Taculing Road Brgy.Taculing, Bacolod City &amp; Brgy. Sum-ag, Bacolod City</p>
                        <span>Phone #: </span>
                        <p>(034) 708-6200 (Taculing Campus) &amp; 444-0194 (Sum-ag campus)</p>
                    </li>
                    <li class="two column footer_nav_list">
                        <h4>Join us</h4>
                        <div>
                            <blockqoute>
                                "Stay hungry, Stay foolish"
                            </blockqoute>
                        </div>
                         <span>Follow us</span>
                        <p><span class="smLinks"><a href="#"><img src="/img/FB.png"/></a></span><span class="smLinks"><a href="#"><img src="/img/twt.png"/></a></span><span class="smLinks"><a href="#"><img src="/img/utube.png"/></a></span></p>
                        <span>or Email us</span>
                        <p>bcc@gmail.com</p>
                        <span ng-show="!currentUser">
                            <a href="#/login">Log in</a>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</div>