  <!-- <div class="header">
    <div class="container">
      <div class="header-content twelve column">
        <div class="header-container">
          <div class="logo">
            <div class="logo-img"></div>
          </div>
          <div class="title three column">
            <div class="title_republic">REPUBLIC OF THE PHILIPPINES</div>
            <div class="title_school">BACOLOD CITY COLLEGE</div>
            <div class="title_city">BACOLOD CITY</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="container">
      <div class="nav twelve column">
        <ul>
          <li><a href="#1">HOME      </a></li>
          <li><a href="#2">ADMISSION</a></li>
          <li><a href="#3">ABOUT</a></li>
          <li><a href="#4">ALUMNI</a></li>
          <li> <a href="#5">NEWS</a></li>
          <li><a href="#6">ACADEMICS</a></li>
        </ul>
      </div>
    </div>
  </div> -->
<header>
    <div class="container">
        <div class="header-content twelve column">
            <div class="header-container">
                <div class="logo">
                    <div class="logo-img"></div>
                </div>
                <div class="title three column">
                    <div class="title_republic">REPUBLIC OF THE PHILIPPINES</div>
                    <div class="title_school">BACOLOD CITY COLLEGE</div>
                    <div class="title_city">BACOLOD CITY</div>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav">
        <div class="container">
            <ul class="navBar">
                <li class="nav_list"><a href="" class="nav_items">Home</a></li>
                <li class="nav_list"><a href="" class="nav_items">About</a>
                    <ul class="navBar_sub">
                        <li><a href="">School Information</a></li>
                        <li><a href="">Administration</a></li>
                        <li><a href="">Support Services</a></li>
                    </ul>
                </li>
                <li class="nav_list"><a href="" class="nav_items">Admission</a>
                    <ul class="navBar_sub">
                        <li><a href="">Registration</a></li>
                        <li><a href="">Admission Requirements</a></li>
                        <li><a href="">Enrollment Procedure</a></li>
                        <li><a href="">Policies</a></li>
                    </ul>
                </li>
                <li class="nav_list"><a href="" class="nav_items">Academics</a>
                    <ul class="navBar_sub">
                        <li><a href="">Courses Offered</a></li>
                        <li><a href="">Events Calendar</a></li>
                    </ul>
                </li>
                <li class="nav_list"><a href="" class="nav_items">News</a></li>
                <li class="nav_list"><a href="" class="nav_items">Alumni</a></li>
            </ul>
        </div>
    </nav>
</header>