<div class="container">
	<div class="banner">
		<div class="tagline__header">
			<h1>Charity Wisdom Truth</h1>
		</div>
		<div class="tagline__subheader">
			<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum officia quaerat, esse consectetur optio voluptatem.</h4>
		</div>
		<a href="#/registration" class="btn btn--green btn--lg">Register now</a>
		<ul class="banner__images">
			<li class="image__one"></li>
			<li class="image__two"></li>
			<li class="image__three"></li>
			<li class="image__four"></li>
		</ul>
	</div>
</div>
<hr>
<div class="container">
	<article class="article__content row">
		<div class="content--left six column">
			<h2 class="article__content_header">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ab."</h2>
			<p>
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto incidunt voluptatibus reprehenderit maiores eaque a temporibus dolore asperiores nesciunt! Dicta."
			</p>
			<a href="#/school-info" class="btn btn--green">Know more about us</a>
		</div>
		<div class="content--right six column">
			<img src="/img/school.jpg" alt="About the school" style="width:65%;height:auto;">
		</div>
	</article>
	<article class="article__content row">
		<div class="content--left six column">
			<h2 class="article__content_header">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ab."</h2>
			<p>
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto incidunt voluptatibus reprehenderit maiores eaque a temporibus dolore asperiores nesciunt! Dicta."
			</p>
			<a href="#/courses-offered" class="btn btn--green">Check your dream course</a>
		</div>
		<div class="content--right six column">
			<img src="/img/school_courses.jpg" alt="About the school" style="width:65%;height:auto;">
		</div>
	</article>
	<article class="article__content row">
		<div class="content--left six column">
			<h2 class="article__content_header">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, ab."</h2>
			<p>
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto incidunt voluptatibus reprehenderit maiores eaque a temporibus dolore asperiores nesciunt! Dicta."
			</p>
			<a href="#/enrollment-procedure" class="btn btn--green">Your enrollment process</a>
		</div>
		<div class="content--right six column">
			<img src="/img/school_procedures.jpg" alt="About the school" style="width:65%;height:auto;">
		</div>
	</article>
</div>
<article class="article__content row subTagline">
	<div class="container">
		<div class="">
			<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque delectus possimus ex qui sunt, labore, maiores quam ipsam quos laudantium?</h3>
			<a href="#/registration" class="btn btn--green">register now</a>
		</div>
	</div>
</article>
