<div class="three column admin_sidebar boxShadow">
	<div class="logo admin_sidebar_logo">
    	<a href="#/"><img src="/img/logo.png" alt="Bacolod City College"></a>
	</div>
	<div class="admin_sidebarNav">
		<h4 class="person_role">Program Coordinator</h4>
		<select class="person">
			<option selected><a href="">Rhoi Abello</a></option>
			<option value=""><a href="">Manage Account</a></option>
			<option value=""><a href="">Log-out</a></option>
		</select>
		<ul>
			<li class="admin_sidebarNav--list">
				<a class="admin_sidebarNav--item">student schedule</a>
			</li>
		</ul>
	</div>
	<div class="copyright--tall copyright--client">
        <div>
            <span>copyright &copy; 2015 <a href="#/">Online Registration System</a></span>
        </div>
    </div>
</div>
<div class="container">
	<div class="nine column  pull--right curriculumCourses">
		<div class="content">
			<div class="content__title content__title--admin">
				<h3 class="content__title_text--admin">Curriculum</h3>
				<span class="content__title_border"></span>
			</div>	
			<div class="curriculumFilter">
				<label for="">Filter by:</label>
				<select name="" id="" ng-change = "selectCurYear(selCurYear)" ng-model="selCurYear">
					<option selected>--curriculum year--</option>
					<option value="{{curriculums.curriculumYear}}" ng-repeat = "curriculums in curriculumList">{{curriculums.curriculumYear}}</option>
				</select>
				<select name="" id="" ng-change = "selectDep(selDep)" ng-model="selDep" ng-show="curriculumSel">
					<option selected>--department--</option>
					<option value="{{department._id}}" ng-repeat = "department in curriculum">{{department.department_name}}</option>
				</select>
			</div>
			<table ng-show="curriculumSel">
				<caption ng-show="department_name"><h4>{{department_name}}</h4></caption>
				<thead>
					<tr>
						<th>Years</th>
						<th>Terms</th>
						<th>Course code</th>
						<th>Course description</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "course in courses">
						<td>{{course.totalYears}}</td>
						<td>{{course.totalTerms}}</td>
						<td>{{course.course_name}}</td>
						<td>{{course.course_des}}</td>
						<td><open-class-sched ng-click="getSubjects(course._id)"></open-class-sched></td>
						<td><div class="btn">Print</div></td>
					</tr>
				</tbody>
			</table>
			<div class="message--big" ng-show="!curriculumSel">
				
				<h2>No Selected Curriculum Year</h2>
				
			</div>
		</div>
	</div>
	<!-- course class schedule -->
	<div class="overlay"></div>
	<div class="course_subjects content eleven column" ng-show="!scheduleConflict">
		<close-class-sched></close-class-sched>
		<div class="content_title">
			<h3>Set Schedule</h3>
		</div>
		<span>Course Code: {{courseName}}</span>
		<span>Course Title: {{courseDes}}</span>
		<!-- course years -->
		<ul>
			<li ng-repeat="courseYear in courseYears">
				<div class="btn" ng-click="subjectInYear(courseYear,departmentId)">{{courseYear}}</div>
			</li>
		</ul>
		<div class="course_subjectsList">
			<!-- course terms -->
			<ul>
				<li ng-repeat="courseTerm in courseTerms">
					<div class="btn" ng-click="subjectWithTerm(courseTerm,departmentId)">{{courseTerm}} semester</div>
				</li>
			</ul>
			<div ng-show="schedule">
				<!-- add section -->
				<div class="addSection" ng-show="termClick">
					<input-group>
						<input type="text"  class="input_name" ng-model="section.section">
						<label for="">Section</label>
					</input-group>
					<div class="btn" ng-click="addSection(section)">add</div>
				</div>
				<!-- sections -->
				<ul>
					<li ng-repeat = "sectionList in sections">
						<div class="btn" ng-click="pickSection(sectionList)">{{sectionList.section}}</div>
					</li>
				</ul>
			</div>
			<!-- show if section Selected subject without schedule -->
			<table ng-show="schedule">
				<div class="error_message" ng-show="errorSchedule">{{errorSchedule}}</div>
				<caption><h5>{{sectionName}}</h5></caption>
				<thead>
					<tr>
						<th>Subject Code</th>
						<th>Subject Description</th>
						<th>Units</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "subject in subjects">
						<td>{{subject.subject_name}}</td>
						<td>{{subject.subject_des}}</td>
						<td>{{subject.units}}</td>
						<!-- show subject schedule button if section click -->
						<td ng-show="subject"><div ng-click="setSched(subject)" ng-show="sectionClick" class="btn">set Schedule</div></td>
					</tr>
				</tbody>
			</table>
			<!-- show if not yet selected the section subjects with schedule -->
			<table ng-show="!schedule">
				<thead>
					<tr>
						<th>Year</th>
						<th>Term</th>
						<th>Subject Code</th>
						<th>Subject Description</th>
						<th>Units</th>
					</tr>
				</thead>
				<body>
					<tr ng-repeat = "subject in subjects" ng-show="!schedule">
						<td>{{subject.year_level}}</td>
						<td>{{subject.term}}</td>
						<td>{{subject.subject_name}}</td>
						<td>{{subject.subject_des}}</td>
						<td>{{subject.units}}</td>
					</tr>
				</body>
			</table>
			<!-- show if section selected -->
			<table ng-show="viewSchedule">
				<caption><h5>Class Schedule</h5></caption>
				<thead>
					<tr>
						<th>Subject Code</th>
						<th>Subject Description</th>
						<th>Units</th>
						<th>Time</th>
						<th>Day</th>
						<th>Rm. no.</th>
						<th>Instructor</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "subject in schedule.schedule">
						<td>{{subject.subject_name}}</td>
						<td>{{subject.subject_des}}</td>
						<td>{{subject.units}}</td>
						<td>{{subject.time}}</td>
						<td>{{subject.days}}</td>
						<td>{{subject.room}}</td>
						<td>{{subject.instructor}}</td>
						<td><div class="btn" ng-click="editSchedule(subject)">Edit</div></td>
						<td><div class="btn btn--red" ng-click="deleteSchedule(subject)">-</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- save subject schedule -->
	<div class="content six column setSchedule" ng-show="scheduleConflict">
		<div class="btn" ng-click="viewLastSched()">Back</div>
		<div>
			<input-group>
				<input type="time" ng-model="subjectSchedule.schedule_time1">
				<label for="">Time</label>
			</input-group>
			<span>to</span>
			<input-group>
				<input type="time" ng-model="subjectSchedule.schedule_time2">
				<label for="">Time</label>
			</input-group>
			<input-group>
				<input type="text" class="input_units" ng-model="subjectSchedule.day">
				<label for="">Day</label>
			</input-group>
			<input-group>
				<input type="text" class="input_units" ng-model="subjectSchedule.room">
				<label for="">Rm. no.</label>
			</input-group>
			<span>Instructor: {{teacher}}</span>
		</div>
		<div class="searchTeacher">
			<input-group>
				<input type="text" class="input_des" ng-model = "searchTeacher">
				<label for="">Search for Teacher</label>
			</input-group>
			<table>
				<tr>
					<th>Teacher Name</th>
				</tr>
				<tr ng-repeat = "teacher in teachers | filter:searchTeacher">
					<td>{{teacher.name}}</td>
					<td><div class="btn" ng-click="pickTeacher(teacher)">Select</div></td>
				</tr>
			</table>
		</div>
		<div class="btn pull--right" ng-click="saveSched(subjectSchedule)" ng-show="!status">Save</div>
		<div class="btn pull--right" ng-click="updateSched(subjectSchedule)" ng-show="status">Update</div>
	</div> 
</div>