<div class="container">
	<div class="three column admin_sidebar">
		<div class="person">
			<div class="person_image"><img src="img/me.png" alt=" Profile picture "></div>
			<div class="person_name">{{currentUser.name}}</div>
			<div class="person_role">{{currentUser.roles}}</div>
		</div>
		<div class="admin_sidebarNav">
			<ul>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">set schedule</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">blog</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="nine column  pull--right">
		<div class="content">
			<div class="input_groups">
				<label for="">search course</label>
				<input type="text">
			</div>
			<table>
				<thead>
					<tr>
						<th>Year</th>
						<th>Term</th>
						<th>Course code</th>
						<th>Course description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>3</td>
						<td>2</td>
						<td>BSIT</td>
						<td>Bachelor of information technology</td>
						<td><a href="/program-coordinator/set-schedule" class="btn">Set Schedule</a></td>
						<td><div class="btn">Print</div></td>
					</tr>
					<tr>
						<td>3</td>
						<td>2</td>
						<td>BSIT</td>
						<td>Bachelor of information technology</td>
						<td><a href="/program-coordinator/set-schedule" class="btn">Set Schedule</a></td>
						<td><div class="btn">Print</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>