<div class="container">
<!-- sidebar -->
	<div class="three column admin_sidebar boxShadow ">
		<div class="person">
			<div class="person_image"><img src="img/me.png" alt=" Profile picture "></div>
			<div class="person_name">{{currentUser.name}}</div>
			<div class="person_role">{{currentUser.roles}}</div>
		</div>
		<div class="admin_sidebarNav">
			<ul>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Student List</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Scheduling</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Blogs</a>
				</li>
			</ul>
		</div>
	</div>
<!-- contents -->
	<div class="overlay"></div>
	<div class="nine column pull--right">
		<article class="content">
			<h3>Student List</h3>
			<input-group>
				<input type="text" ng-model="searchStudent">
				<label for="">Search student</label>
			</input-group>
			<table>
				<thead>
					<tr>
						<th>Student Number</th>
						<th>Student Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "students in studentList | filter:searchStudent">
						<td>{{students.student_no}}</td>
						<td>{{students.first_name}} {{students.middle_name}} {{students.last_name}}</td>
						<td><toggle-student-info ng-click="viewInfo(students._id)">Information</toggle-student-info></td>
						<td><div class="btn" ng-click="studentSchedule(students._id)">Schedule</div></td>
					</tr>
				</tbody>
			</table>
		</article>
		<article class="content row">
			<div class="scheduling">
				<div class="scheduling_studentInfo" ng-show="studentInfo">
					<div class="btn--close" ng-click="closeStudentInfo()">X</div>
					<ul>
						<li>
							<span>School Year:</span>
							<span>2015-2016</span>
						</li>
						<li>
							<span>First Name:</span>
							<span>{{studentInfo.first_name}}</span>
						</li>
						<li>
							<span>Last Name:</span>
							<span>{{studentInfo.last_name}}</span>
						</li>
						<li>
							<span>Middle Name:</span>
							<span>{{studentInfo.middle_name}}</span>
						</li>
						<li>
							<span>Student no.:</span>
							<span>{{studentInfo.student_no}}</span>
						</li>
						<li>
							<span>Course:</span>
							<span>{{studentInfo.prefferedCourse}}</span>
						</li>
						<li>
							<input-group>
								<input type="text">
								<label for="">Status</label>
							</input-group>
						</li>
						<li>
							<input-group>
								<input type="number" class="input_units" min="1" max="5">
								<label for="">Year Level</label>
							</input-group>
						</li>
						<li>
							<input-group>
								<input type="number" class="input_units" min="1" max="3">
								<label for="">Semester</label>
							</input-group>
						</li>
						<li>
							<input-group>
								<input type="text">
								<label for="">Section</label>
							</input-group>
						</li>
					</ul>
				</div>
				<div class="studentSchedule">
					<div class="studentSchedule_search">
						<input-group>
							<input type="text">
							<label for="">Search subjects schedule</label>
						</input-group>
						<div class="studentSchedule_searchSubjects">
							<table>
								<thead>
									<tr>
										<th>Subject Code</th>
										<th>Units</th>
										<th>Section</th>
										<th>Days</th>
										<th>Time</th>
										<th>Room no.</th>
										<th>Instructor</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="subjectSchedule in subjectSchedules.schedule">
										<td>{{subjectSchedule.subject_code}}</td>
									</tr>
									<!-- <tr>
										<td>{{subjectSchedule.section}}</td>
										<td>{{subjectSchedule.units}}</td>
										<td>{{subjectSchedule.units}}</td>
										<td>{{subjectSchedule.units}}</td>
										<td>{{subjectSchedule.units}}</td>
										<td>{{subjectSchedule.units}}</td>
										<td>{{subjectSchedule.units}}</td>
										<td><div class="btn">Select</div></td>
									</tr> -->
								</tbody>
							</table>
						</div>
					</div>
					<h4>Class Schedule</h4>
					<table>
						<thead>
							<tr>
								<th>Subject Code</th>
								<th>Units</th>
								<th>Section</th>
								<th>Days</th>
								<th>Time</th>
								<th>Room no.</th>
								<th>Instructor</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Addbase</td>
								<td>3</td>
								<td>BSIT3a</td>
								<td>mwf</td>
								<td>9:00am-10:00am</td>
								<td>css03</td>
								<td>Wizard</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</article>
	</div>
	<!-- students Information -->
	<div class="student_info eleven column modal">
		<toggle-student-info ng-click="viewInfo(new)">X</toggle-student-info>
        <div class="student_info_details row">
        	<h4>Student No:{{student.student_no}}</h4>
        	<h3>Student Information</h3>
            <div class="block">
          		<span class="caption">Student Name</span><span>{{student.first_name}} {{student.middle_name}} {{student.last_name}}</span>
            </div>
            <div class="block">
              <span>Age</span><span>{{student.age}}</span>
            </div>
            <div class="block">
              <span>Gender</span><span>{{student.gender}}</span>
            </div>
            <div class="block">
              <span>Address</span><span>{{student.address}}</span>
            </div>
            <div class="block">
              <span>Contact No.</span><span>{{student.contact}}</span>
            </div>
            <div class="block">
              <span>Date of Birth</span><span>{{student.birthday}}</span>
            </div>
            <div class="block">
              <span>Nationality</span><span>{{student.nationality}}</span>
            </div>
            <div class="block">
              <span>civil status</span><span>{{student.civil_status}}</span>
            </div>
            <div class="block">
              <span>Email</span><span>{{student.email}}</span>
            </div>
            <div class="block">
              <span>Mother's name</span><span>{{student.mother_name}}</span>
            </div>
            <div class="block">
              <span>Mother's Occupation</span><span>{{student.mother_occupation}}</span>
            </div>
            <div class="block">
              <span>father's name</span><span>{{student.father_name}}</span>
            </div>
            <div class="block">
              <span>father's Occupation</span><span>{{student.father_occupation}}</span>
            </div>
            <h3>School Attended</h3>
            <div class="block">
              <span>Highest Educational Attended</span><span>{{student.high_Educ_Att}}</span>
            </div>
            <div class="block">
              <span>Previous School</span><span>{{student.prev_school}}</span>
            </div>
            <div class="block">
              <span>School Address</span><span>{{student.prev_school_add}}</span>
            </div>
            <h3>Guardian</h3>
            <div class="block">
              <span>Guardian name</span><span>{{student.guardian_name}}</span>
            </div>
            <div class="block">
              <span>Address</span><span>{{student.guardian_add}}</span>
            </div>
            <div class="block">
          		<span>Contact no.</span><span>{{student.guardian_contact}}</span>
            </div>
            <div class="block">
            	<span>Relationship</span><span>{{student.guardian_rel}}</span>
            </div>
        </div>
    </div>
</div>