<!-- sidebar -->
<div class="three column admin_sidebar boxShadow" ng-controller="navCtrl">
	<div class="logo admin_sidebar_logo">
    	<a href="#/"><img src="/img/logo.png" alt="Bacolod City College"></a>
	</div>
	<div class="admin_sidebarNav">
		<h4 class="person_role">Registrar</h4>
		<select class="person" ng-change="userSelect(userOption)" ng-model="userOption">
			<option selected><a href="">{{currentUser.name}}</a></option>
			<option value="account"><a href="">Manage Account</a></option>
			<option value="logOut"><a href="">Log-out</a></option>
		</select>
		<ul>
			<li class="admin_sidebarNav--list">
				<a class="admin_sidebarNav--item">Student List</a>
			</li>
			<li class="admin_sidebarNav--list">
				<a class="admin_sidebarNav--item">Scheduling</a>
			</li>
			<li class="admin_sidebarNav--list">
				<a class="admin_sidebarNav--item">Registration</a>
			</li>
		</ul>
	</div>
	<div class="copyright--tall copyright--client">
        <div>
            <span>copyright &copy; 2015 <a href="#/">Online Registration System</a></span>
        </div>
    </div>
</div>
<div class="container">
<!-- contents -->
	<div class="overlay"></div>
	<div class="nine column pull--right">
		<article class="content">
			<div class="content__title content__title--admin">
				<h3 class="content__title_text--admin">Student List</h3>
				<span class="content__title_border"></span>
			</div>	
			<input-group>
				<input type="text" ng-model="searchStudent">
				<label for="">Search student</label>
			</input-group>
			<span class="small">student list limits to 15</span>
			<table>
				<thead>
					<tr>
						<th>Student Number</th>
						<th>Student Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "student in students | filter:searchStudent | limitTo:15">
						<td>{{student.student_no}}</td>
						<td>{{student.first_name}} {{student.middle_name}} {{student.last_name}}</td>
						<td><toggle-student-info ng-click="viewInfo(student._id)">Information</toggle-student-info></td>
						<td><div class="btn" ng-click="studentSchedule(student._id)">enroll</div></td>
					</tr>
				</tbody>
			</table>
		</article>
		<!-- student schedule -->
		<article class="content row" ng-show="student_schedule">
			<div class="scheduling">
				<div class="scheduling_studentInfo">
					<div class="btn--close" ng-click="closeStudentInfo()">X</div>
					<ul>
						<li>
							<span>School Year:</span>
							<span>{{studentSchoolInfo.school_year}}</span>
						</li>
						<li>
							<span>First Name:</span>
							<span>{{student.first_name}}</span>
						</li>
						<li>
							<span>Last Name:</span>
							<span>{{student.last_name}}</span>
						</li>
						<li>
							<span>Middle Name:</span>
							<span>{{student.middle_name}}</span>
						</li>
						<li>
							<span>Student no.:</span>
							<span>{{student.student_no}}</span>
						</li>
						<li>
							<span>Course:</span>
							<span>{{studentSchoolInfo.course_name}}</span>
						</li>
						<li>
							<input-group>
								<input type="number" class="input_units" min="1" max="5" value="{{studentSchoolInfo.year_level}}">
								<label for="">Year Level</label>
							</input-group>
						</li>
						<li>
							<input-group>
								<input type="number" class="input_units" min="1" max="3" value="{{studentSchoolInfo.term}}">
								<label for="">Semester</label>
							</input-group>
						</li>
						<li>
							<select name="" id="" ng-model="studentSchoolInfo.status">
								<option selected>--select status--</option>
								<option value="regular">Regular</option>
								<option value="irregular">Irregular</option>
							</select>
						</li>
						<li>
							<select name="" id="" ng-model="studentSchoolInfo.sectionId">
								<option selected>--Select Section--</option>
								<option value="{{section._id}}" ng-repeat="section in sectionList">{{section.section}}</option>
							</select>
						</li>
					</ul>
					<div class="btn" ng-click="enrollStudent(studentSchoolInfo.sectionId,studentSchoolInfo)">Next</div>
				</div>
				<!-- irregular -->
				<div class="studentSchedule" ng-show="showSchedule">
					<div class="studentSchedule_search" ng-show="showSchedule">
						<h4>Subject Schedule</h4>
						<input-group ng-show="studentRegular">
							<input type="text" ng-model="searchSchedule">
							<label for="">Search subjects schedule</label>
						</input-group>
						<span class="error_message">{{errorStudentSchedule}}</span>
						<div class="studentSchedule_searchSubjects">
							<table>
								<thead>
									<tr>
										<th>Student list</th>
										<th>Subject Code</th>
										<th>Units</th>
										<th>Section</th>
										<th>Days</th>
										<th>Time</th>
										<th>Room no.</th>
										<th>Instructor</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="schedule in sectionSchedules.schedule | filter:searchSchedule">
										<td><div class="btn" ng-click="viewStudents(schedule)">view</div></td>
										<td>{{schedule.subject_name}}</td>
										<td>{{schedule.units}}</td>
										<td>{{schedule.section}}</td>
										<td>{{schedule.days}}</td>
										<td>{{schedule.time}}</td>
										<td>{{schedule.room}}</td>
										<td>{{schedule.instructor}}</td>
										<td><div class="btn btn--blue" ng-show="studentRegular" ng-click="irregularSchedule(schedule)">+</div></td>
									</tr>
								</tbody>
							</table>
							<div class="btn" ng-click="back()" ng-show="!studentRegular">Back</div>
							<div class="btn" ng-click="subjectSchedule()" ng-show="!studentRegular">Save</div>
						</div>
					</div>
					<!-- regular -->
					<div class="subjectSchedule"  ng-show="studentRegular">
						<table>
							<caption>Subject Schedule</caption>
							<thead>
								<tr>
									<th>Student list</th>
									<th>Subject Code</th>
									<th>Units</th>
									<th>Section</th>
									<th>Days</th>
									<th>Time</th>
									<th>Room no.</th>
									<th>Instructor</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat ="schedule in irregularSchedules">
									<td><div class="btn" ng-click="viewStudents(schedule)">view</div></td>
									<td>{{schedule.subject_name}}</td>
									<td>{{schedule.units}}</td>
									<td>{{schedule.section_name}}</td>
									<td>{{schedule.days}}</td>
									<td>{{schedule.time}}</td>
									<td>{{schedule.room}}</td>
									<td>{{schedule.instructor}}</td>
									<td><div class="btn btn--red" ng-click="deleteIrregSchedule(schedule)">-</div></td>
								</tr>
							</tbody>
						</table>
						<div class="btn" ng-click="saveIrregularSched()">Save</div>
					</div>
				</div>
			</div>
		</article>
		<!-- error message -->
		<article class="content row"  ng-show="studentEnrolled">
			<div class="btn--close" ng-click="closeErrorMessageEnrolled()">X</div>
			<div>
				<span>{{student.first_name}} {{student.last_name}} {{studentSchoolInfo.course_name}}</span>
				<h4>already enrolled</h4>
			</div>
		</article>
		<article class="content row" ng-show="studentList">
			<span>student list: {{student_count}}</span>
			<table>
				<caption>{{students_course}}</caption>
				<thead>
					<tr>
						<th>Course</th>
						<th>Student Name</th>
						<th>Section</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in student_list">
						<td>{{list.course_name}}</td>
						<td>{{list.student_name}}</td>
						<td>{{list.section}}</td>
					</tr>
				</tbody>
			</table>
			<div class="btn" ng-click="closeStudentList()">Back</div>
		</article>
	</div>

	<!-- students Information -->
	<div class="student_info eleven column">
		<toggle-student-info>X</toggle-student-info>
        <div class="student_info_details row">
        	<h4>Student No:{{studentInfo.student_no}}</h4>
        	<h4>Student Information</h4>
            <div class="block">
          		<span class="caption">Student Name</span><span>{{studentInfo.first_name}} {{studentInfo.middle_name}} {{studentInfo.last_name}}</span>
            </div>
            <div class="block">
              <span>Age</span><span>{{studentInfo.age}}</span>
            </div>
            <div class="block">
              <span>Gender</span><span>{{studentInfo.gender}}</span>
            </div>
            <div class="block">
              <span>Address</span><span>{{studentInfo.address}}</span>
            </div>
            <div class="block">
              <span>Contact No.</span><span>{{studentInfo.contact}}</span>
            </div>
            <div class="block">
              <span>Date of Birth</span><span>{{studentInfo.birthday}}</span>
            </div>
            <div class="block">
              <span>Nationality</span><span>{{studentInfo.nationality}}</span>
            </div>
            <div class="block">
              <span>civil status</span><span>{{studentInfo.civil_status}}</span>
            </div>
            <div class="block">
              <span>Email</span><span>{{studentInfo.email}}</span>
            </div>
            <div class="block">
              <span>Mother's name</span><span>{{studentInfo.mother_name}}</span>
            </div>
            <div class="block">
              <span>Mother's Occupation</span><span>{{studentInfo.mother_occupation}}</span>
            </div>
            <div class="block">
              <span>father's name</span><span>{{studentInfo.father_name}}</span>
            </div>
            <div class="block">
              <span>father's Occupation</span><span>{{studentInfo.father_occupation}}</span>
            </div>
            <h4>School Attended</h4>
            <div class="block">
              <span>Highest Educational Attended</span><span>{{studentInfo.high_Educ_Att}}</span>
            </div>
            <div class="block">
              <span>Previous School</span><span>{{studentInfo.prev_school}}</span>
            </div>
            <div class="block">
              <span>School Address</span><span>{{studentInfo.prev_school_add}}</span>
            </div>
            <h4>Guardian</h4>
            <div class="block">
              <span>Guardian name</span><span>{{studentInfo.guardian_name}}</span>
            </div>
            <div class="block">
              <span>Address</span><span>{{studentInfo.guardian_add}}</span>
            </div>
            <div class="block">
          		<span>Contact no.</span><span>{{studentInfo.guardian_contact}}</span>
            </div>
            <div class="block">
            	<span>Relationship</span><span>{{studentInfo.guardian_rel}}</span>
            </div>
        </div>
        <div class="student_request">
        	<h4>Student Request</h4>
        	<table>
        		<thead>
	        		<th>Subject Code</th>
					<th>Subject Title</th>
					<th>Units</th>
					<th>Section</th>
					<th>Days</th>
					<th>Time</th>
					<th>Rm. no.</th>
					<th>Instructor</th>
        		</thead>
        		<tbody>
        			<tr ng-repeat="req in scheduleReq">
        				<td>{{req.subject_name}}</td>
        				<td>{{req.subject_des}}</td>
        				<td>{{req.units}}</td>
        				<td>{{req.section_name}}</td>
        				<td>{{req.days}}</td>
        				<td>{{req.time}}</td>
        				<td>{{req.room}}</td>
        				<td>{{req.instructor}}</td>
	        		</tr>
        		</tbody>
        	</table>
        </div>
        <div class="grades">
        	<h4>Student Grades</h4>
        	<table>
        		<thead>
	        		<th>Subject Code</th>
					<th>Subject Title</th>
					<th>Units</th>
					<th>Prelim</th>
					<th>Midterm</th>
					<th>Pre-Final</th>
					<th>Final</th>
					<th>GPA</th>
        		</thead>
        		<tbody>
        			<tr ng-repeat="grade in studentGrades">
        				<td>{{grade.subject_name}}</td>
        				<td>{{grade.subject_des}}</td>
        				<td>{{grade.units}}</td>
        				<td>{{grade.Prelim}}</td>
        				<td>{{grade.Midterm}}</td>
        				<td>{{grade.PreFinal}}</td>
        				<td>{{grade.Final}}</td>
        				<td>total</td>
	        		</tr>
        		</tbody>
        	</table>
        </div>
    </div>
</div>