<div class="container">
	<div class="content__title">
		<h2 class="content__title_text">registration form</h2>
		<span class="content__title_border"></span>
	</div>
	<div class="registration__form">
		<form action="">
			<div class="input__groups">
				<h3 class="content__title_text">application data</h3>
				<div class="input__group--normal">
					<label for="">Your Department</label>
					<select name="" id="">
						<option value="">ICT - Information Communication Technology</option>
					</select>
				</div>
				<div class="input__group--normal">
					<label for="">Course</label>
					<select name="" id="">
						<option value="">BSIT - Bachelor of information technology</option>
					</select>
				</div>
				<div class="input__group--normal">
					<label for="">Year Level</label>
					<ul class="list_items">
		    			<li><input type="checkbox" ng-model="" ng-true-value=1>1st</li>
		    			<li><input type="checkbox" ng-model="" ng-true-value=2>2nd</li>
		    			<li><input type="checkbox" ng-model="" ng-true-value=3>3rd</li>
		    			<li><input type="checkbox" ng-model="" ng-true-value=4>4th</li>
		    		</ul>
				</div>
				
		    	<div class="input__group--normal">
					<label for="">Term</label>
					<ul class="list_items">
		    			<li><input type="checkbox" ng-model="" ng-true-value=1>1st semester</li>
		    			<li><input type="checkbox" ng-model="" ng-true-value=2>2nd semester</li>
		    		</ul>
				</div>
			
				<hr>
			
			</div>

			
			<div class="input__groups">
				<h3 class="content__title_text">personal data</h3>

				<div class="input__group--normal">
					<label for="">First name</label>
					<input type="text">
				</div>

				<div class="input__group--normal">
					<label for="">Surname name</label>
					<input type="text">
				</div>

				<div class="input__group--normal">
					<label for="">Middle name</label>
					<input type="text">
				</div>

				<div class="input__group--normal">
					<label for="">Age</label>
					<input type="number">
				</div>
				
				<div class="input__group--normal">
					<label for="">Gender</label>
					<ul class="list_items">
		    			<li><input type="checkbox" ng-model="" ng-true-value=1>Male</li>
		    			<li><input type="checkbox" ng-model="" ng-true-value=2>Female</li>
		    		</ul>
				</div>
				
				<div class="input__group--normal">
					<label for="">Address</label>
					<input type="text">
				</div>
				
				<div class="input__group--normal">
					<label for="">Contact no.</label>
					<input type="number">
				</div>

				<div class="input__group--normal">
					<label for="">Date of birth</label>
					<input type="date">
				</div>

				<div class="input__group--normal">
					<label for="">Nationality</label>
					<input type="text">
				</div>

				<div class="input__group--normal">
					<label for="">Civil status</label>
					<ul class="list_items">
		    			<li><input type="checkbox" ng-model="" ng-true-value=1>single</li>
		    			<li><input type="checkbox" ng-model="" ng-true-value=2>married</li>
		    		</ul>
				</div>

				<div class="input__group--normal">
					<label for="">Nationality</label>
					<input type="text">
				</div>

				<div class="input__group--normal">
					<label for="">Religion</label>
					<input type="text">
				</div>

				<div class="input__group--normal">
					<label for="">Email</label>
					<input type="email">
				</div>

				<div class="input__group--normal">
					<label for="">Mother's name</label>
					<input type="text">
				</div>

				<div class="input__group--normal">
					<label for="">Mother's Occupation</label>
					<input type="text">
				</div>

				<div class="input__group--normal">
					<label for="">Father's name</label>
					<input type="text">
				</div>

				<div class="input__group--normal">
					<label for="">Father's Occupation</label>
					<input type="text">
				</div>

				<hr>
			</div>

			<div class="input__groups input__groups--last">
				<h3 class="content__title_text">Guardian information</h3>

				<div class="input__group--normal">
					<label for="">Guardina name</label>
					<input type="text">
				</div>

				<div class="input__group--normal">
					<label for="">Address</label>
					<input type="text">
				</div>

				<div class="input__group--normal">
					<label for="">Contact no.</label>
					<input type="number">
				</div>

				<div class="input__group--normal">
					<label for="">Relationship</label>
					<input type="text">
				</div>

				<hr>
			</div>

			<div class="btn btn--blue">Submit</div>
		</form>
	</div>
</div>