<div class="container">
	<article class="contents nine column">
		<section>
			<div class="content__title">
				<h2 class="content__title_text contents__title">History</h2>
				<span class="content__title_border"></span>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut unde vero eaque quidem velit deleniti architecto, minima enim saepe molestiae totam quos voluptatem placeat quia eligendi mollitia harum dignissimos. Consequuntur quis consequatur culpa deleniti sequi neque aut molestias, voluptates aspernatur, quia veniam iure laudantium deserunt beatae suscipit minus nihil.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut unde vero eaque quidem velit deleniti architecto, minima enim saepe molestiae totam quos voluptatem placeat quia eligendi mollitia harum dignissimos. Consequuntur quis consequatur culpa deleniti sequi neque aut molestias, voluptates aspernatur, quia veniam iure laudantium deserunt beatae suscipit minus nihil.
			</p>
		</section>
		<section>
			<div class="content__title">
				<h2 class="content__title_text contents__title">School Hyme</h2>
				<span class="content__title_border"></span>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut unde vero eaque quidem velit deleniti architecto, minima enim saepe molestiae totam quos voluptatem placeat quia eligendi mollitia harum dignissimos. Consequuntur quis consequatur culpa deleniti sequi neque aut molestias, voluptates aspernatur, quia veniam iure laudantium deserunt beatae suscipit minus nihil.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut unde vero eaque quidem velit deleniti architecto, minima enim saepe molestiae totam quos voluptatem placeat quia eligendi mollitia harum dignissimos. Consequuntur quis consequatur culpa deleniti sequi neque aut molestias, voluptates aspernatur, quia veniam iure laudantium deserunt beatae suscipit minus nihil.
			</p>
		</section>
		<section>
			<div class="content__title">
				<h2 class="content__title_text contents__title">Objectives</h2>
				<span class="content__title_border"></span>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut unde vero eaque quidem velit deleniti architecto, minima enim saepe molestiae totam quos voluptatem placeat quia eligendi mollitia harum dignissimos. Consequuntur quis consequatur culpa deleniti sequi neque aut molestias, voluptates aspernatur, quia veniam iure laudantium deserunt beatae suscipit minus nihil.
			</p>
		</section>
		<section>
			<div class="content__title">
				<h2 class="content__title_text contents__title">Core Values</h2>
				<span class="content__title_border"></span>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut unde vero eaque quidem velit deleniti architecto, minima enim saepe molestiae totam quos voluptatem placeat quia eligendi mollitia harum dignissimos. Consequuntur quis consequatur culpa deleniti sequi neque aut molestias, voluptates aspernatur, quia veniam iure laudantium deserunt beatae suscipit minus nihil.
			</p>
		</section>
	</article>
	<aside class="contents three column sidebar">
		<ul class="sidebar__inner">
			<li class="sidebar__news">
				<a href="">
					<img src="" alt="" class="sidebar__news--items">
					<p class="sidebar__news--items">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, aspernatur?</p>
				</a>
			</li>
			<li class="sidebar__news">
				<a href="">
					<img src="" alt="" class="sidebar__news--items">
					<p class="sidebar__news--items">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iusto!</p>
				</a>
			</li>
			<li class="sidebar__news">
				<a href="">
					<img src="" alt="" class="sidebar__news--items">
					<p class="sidebar__news--items">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, alias?</p>
				</a>
			</li>
		</ul>
	</aside>
</div>