<div class="container">
	<div class="three column admin_sidebar boxShadow ">
		<div class="person">
			<div class="person_image"><img src="img/me.png" alt=" Profile picture "></div>
			<div class="person_name">{{currentUser.name}}</div>
			<div class="person_role">{{currentUser.roles}}</div>
		</div>
		<div class="admin_sidebarNav">
			<ul>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Schedule</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Assestments</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Grades</a>
				</li>
				<li class="admin_sidebarNav--list">
					<a class="admin_sidebarNav--item">Curriculum</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="nine column pull--right">
		<!-- course class schedule in this year -->
		<article class="content row">
			<h4>BSIT Class Schedule</h4>
			<ul>
				<li ng-repeat= "year in course_years">
					<div class="btn">{{year}}</div>
				</li>
			</ul>
			<table>
				<caption>Class Schedule</caption>
				<thead>
					<tr>
						<th>Subject Code</th>
						<th>Subject Title</th>
						<th>Units</th>
						<th>Section</th>
						<th>Days</th>
						<th>Time</th>
						<th>Rm. no.</th>
						<th>Instructor</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "schedule in schedules">
						<td>{{schedule.subject_name}}</td>
						<td>{{schedule.subject_des}}</td>
						<td>{{schedule.units}}</td>
						<td>{{schedule.section_name}}</td>
						<td>{{schedule.days}}</td>
						<td>{{schedule.time}}</td>
						<td>{{schedule.room}}</td>
						<td>{{schedule.instructor}}</td>
						<td><div class="btn">Reserved</div></td>
					</tr>
				</tbody>
			</table>
		</article>
		<!-- student schedule -->
		<article class="content row">
			<div class="studentSchedule">
				<h4>Class Schedule</h4>
				<table>
					<caption>Class Schedule</caption>
					<thead>
						<tr>
							<th>Subject Code</th>
							<th>Subject Title</th>
							<th>Units</th>
							<th>Section</th>
							<th>Days</th>
							<th>Time</th>
							<th>Rm. no.</th>
							<th>Instructor</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "schedule in schedules">
							<td>{{schedule.subject_name}}</td>
							<td>{{schedule.subject_des}}</td>
							<td>{{schedule.units}}</td>
							<td>{{schedule.section_name}}</td>
							<td>{{schedule.days}}</td>
							<td>{{schedule.time}}</td>
							<td>{{schedule.room}}</td>
							<td>{{schedule.instructor}}</td>
						</tr>
						<tr>
							<td>total subjects: {{totalSubjects}}</td>
							<td></td>
							<td>total units: {{totalUnits}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<!-- student financial -->
		<article class="content row">
			<div class="studentTuition">
				<h4>tuition</h4>
				<table>
					<caption>Tuition</caption>
					<thead>
						<th>subject Code</th>
						<th>subject Title</th>
						<th>Units</th>
						<th>cost/Units</th>
						<th>total</th>
					</thead>
					<tbody>
						<tr ng-repeat = "subject in schedules | orderBy:'subject_name'">
							<td>{{subject.subject_name}}</td>
							<td>{{subject.subject_des}}</td>
							<td>{{subject.units}}</td>
							<td>{{subject.cost_perUnits}}</td>
							<td>{{subject.units * subject.cost_perUnits}}</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>tuition: {{tuition | number}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="studentAssestment">
				<h4>Assestment</h4>
				<table class="studentAssestment_list six column" ng-repeat="assestment in assestments">
					<caption>{{assestment.typeOfFee}}</caption>
					<thead>
						<tr>
							<th>Fees</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "fee in assestment.fees">
							<td>{{fee.fee_name}}</td>
							<td>{{fee.amount | number}}</td>
						</tr>
						<tr>
							<td></td>
							<td>Total Amount: P {{assestment.totalAmount | number}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<!-- student grades -->
		<article class="content row">
			<h4>Grades</h4>
			<table>
				<caption>Grades</caption>
				<thead>
					<tr>
						<th>Subject Code</th>
						<th>Section</th>
						<th>Instructor</th>
						<th>Prelim</th>
						<th>Midterm</th>
						<th>Pre-Final</th>
						<th>Final</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Addprog</td>
						<td>bsit-1a</td>
						<td>Robert</td>
						<td>80</td>
						<td>90</td>
						<td>100</td>
						<td>95</td>
					</tr>
					<tr>
						<td>Addprog</td>
						<td>bsit-1a</td>
						<td>Robert</td>
						<td>80</td>
						<td>90</td>
						<td>100</td>
						<td>95</td>
					</tr>
				</tbody>
			</table>
		</article>
		<!-- student curriculum -->
		<article class="content row">
			<div class="studentCurriculum">
				filter by:
				<select name="" id="" ng-change = "subjectInYear(courseSelYear)" ng-model="courseSelYear">
					<option value="">--year--</option>
					<option value="{{course_year}}" ng-repeat="course_year in course_years">{{course_year}}</option>
				</select>
				<select name="" id="" ng-change = "subjectInTerm(courseSelTerm)" ng-model="courseSelTerm" ng-show="sel_course_year">
					<option value="">--term--</option>
					<option value="{{course_term}}" ng-repeat="course_term in course_terms">{{course_term}}</option>
				</select>

				<h4 ng-show="sel_course_year">Year: {{sel_course_year}} Term: {{sel_course_term}}</h4>
				
				<table>
					<caption>Course Subjects</caption>
					<thead>
						<th>subject Code</th>
						<th>subject Title</th>
						<th>Units</th>
						<th>cost/Units</th>
						<th>year level</th>
						<th>term</th>
						<th>pre-requisite</th>
					</thead>
					<tbody>
						<tr ng-repeat = "subject in subjects | limitTo:10 | orderBy:'subject_name'">
							<td>{{subject.subject_name}}</td>
							<td>{{subject.subject_des}}</td>
							<td>{{subject.units}}</td>
							<td>{{subject.cost_perUnits}}</td>
							<td>{{subject.year_level}}</td>
							<td>{{subject.term}}</td>
							<td>{{subject.pre_requisite}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
	</div>
</div>