<div class="container">
	<article class="contents nine column">
		<section>
			<div class="content__title">
				<h2 class="content__title_text contents__title">Main Building</h2>
				<span class="content__title_border"></span>
			</div>
			<img src="" alt="" class="contents__image">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut unde vero eaque quidem velit deleniti architecto, minima enim saepe molestiae totam quos voluptatem placeat quia eligendi mollitia harum dignissimos. Consequuntur quis consequatur culpa deleniti sequi neque aut molestias, voluptates aspernatur, quia veniam iure laudantium deserunt beatae suscipit minus nihil.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut unde vero eaque quidem velit deleniti architecto, minima enim saepe molestiae totam quos voluptatem placeat quia eligendi mollitia harum dignissimos. Consequuntur quis consequatur culpa deleniti sequi neque aut molestias, voluptates aspernatur, quia veniam iure laudantium deserunt beatae suscipit minus nihil.
			</p>
		</section>
		<section>
			<div class="content__title">
				<h2 class="content__title_text contents__title">Computer Lab</h2>
				<span class="content__title_border"></span>
			</div>
			<img src="" alt="" class="contents__image">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut unde vero eaque quidem velit deleniti architecto, minima enim saepe molestiae totam quos voluptatem placeat quia eligendi mollitia harum dignissimos. Consequuntur quis consequatur culpa deleniti sequi neque aut molestias, voluptates aspernatur, quia veniam iure laudantium deserunt beatae suscipit minus nihil.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut unde vero eaque quidem velit deleniti architecto, minima enim saepe molestiae totam quos voluptatem placeat quia eligendi mollitia harum dignissimos. Consequuntur quis consequatur culpa deleniti sequi neque aut molestias, voluptates aspernatur, quia veniam iure laudantium deserunt beatae suscipit minus nihil.
			</p>
		</section>
		<section>
			<div class="content__title">
				<h2 class="content__title_text contents__title">Libarary</h2>
				<span class="content__title_border"></span>
			</div>
			<img src="" alt="" class="contents__image">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut unde vero eaque quidem velit deleniti architecto, minima enim saepe molestiae totam quos voluptatem placeat quia eligendi mollitia harum dignissimos. Consequuntur quis consequatur culpa deleniti sequi neque aut molestias, voluptates aspernatur, quia veniam iure laudantium deserunt beatae suscipit minus nihil.
			</p>
		</section>
		<section>
			<div class="content__title">
				<h2 class="content__title_text contents__title">Rooms</h2>
				<span class="content__title_border"></span>
			</div>
			<img src="" alt="" class="contents__image">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ut unde vero eaque quidem velit deleniti architecto, minima enim saepe molestiae totam quos voluptatem placeat quia eligendi mollitia harum dignissimos. Consequuntur quis consequatur culpa deleniti sequi neque aut molestias, voluptates aspernatur, quia veniam iure laudantium deserunt beatae suscipit minus nihil.
			</p>
		</section>
	</article>
	<aside class="contents three column sidebar">
		<ul class="sidebar__inner">
			<li class="sidebar__news">
				<a href="">
					<img src="" alt="" class="sidebar__news--items">
					<p class="sidebar__news--items">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, aspernatur?</p>
				</a>
			</li>
			<li class="sidebar__news">
				<a href="">
					<img src="" alt="" class="sidebar__news--items">
					<p class="sidebar__news--items">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, iusto!</p>
				</a>
			</li>
			<li class="sidebar__news">
				<a href="">
					<img src="" alt="" class="sidebar__news--items">
					<p class="sidebar__news--items">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, alias?</p>
				</a>
			</li>
		</ul>
	</aside>
</div>