.article__content{
	text-align: center;
	margin: 150px 0;
	&_header{
		margin-top: 0;
	}
}
.content--right{
	text-align: center;
}
.subTagline{
	background: #3BC054;
	color: #fff;
	padding-top: 1rem;
	padding-bottom: 3rem;
}
