.article__content{
	text-align: center;
	margin: 150px 0;
	&_header{
		margin-top: 0;
	}
}
.content--right{
	text-align: center;
}
.subTagline{
	background: #3BC054;
	color: #fff;
	padding-top: 1rem;
	padding-bottom: 3rem;
}
.content__title{
	width: 34%;
	&_text{
		font-variant: small-caps;
		margin-bottom: .3rem;
	}
	&_border{
		display: block;
		border-bottom: 4px solid #18B318;
	}
}