.btn {
	border: 1px solid #BEBEBE;	
	font-size: 1rem;
	background: transparent;
	text-decoration: none;
	color: #222;
	display: inline-block;
	padding: 4px 12px;
	cursor: pointer;
	border-radius: 3px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	user-select: none;
	outline: none;
	transition: all .1s ease-in-out;
	&:active{
		color: #fff;
		box-shadow: 0 3px 9px rgba(0,0,0,0.3);
	}
}
.btn--md{
	padding: 6px 14px;
	font-size: 1.2rem;
	border-radius: 4px;
}
.btn--lg{
	padding: 8px 24px;
	font-size: 1.2rem;
	border-radius: 5px;
}
// buttons
$buttons: (
	"green" #44E94C hsl(65, 99%, 70%),
	"orange" #DD8639 hsl(37, 99%, 70%),
	"red"   #DB3939 hsl(0, 100%, 70%),
	"blue" #3A76DA hsl(218, 100%, 70%)
);
@each $color in $buttons {
	.btn--#{nth($color, 1)} {
		color: #fff;
		border: 1px solid nth($color, 2);
		background: nth($color, 2);
	}
}
// hover buttons style
$buttonHover: (
	"green" #44E94C hsl(65, 99%, 75%),
	"orange" #DD8639 hsl(37, 99%, 75%),
	"red"   #DB3939 hsl(0, 100%, 75%),
	"blue" #3A76DA hsl(218, 100%, 75%)
);
@each $color in $buttonHover {
	.btn--#{nth($color, 1)}:hover {
		background: nth($color, 2);
		color: #fff;
		// box-shadow: 0 2px 7px rgba(0,0,0,0.8);
	}
}
// active buttons style
// $buttonActive: (
// 	"green" hsl(65, 70%, 53%),
// 	"orange" hsl(28, 70%, 53%),
// 	"red"  hsl(0, 70%, 53%),
// 	"blue" hsl(218, 70%, 53%)
// );
// @each $color in $buttonActive {
// 	.btn--#{nth($color, 1)}:active {
// 		background: #{nth($color, 2)};
// 	}
// }
//testing only
.view{ 
		border: 1px solid #ccc;
		padding:10px;
		color: #fff;
		background: rgba(0,0,0,0.4);
	}
.btn--close{
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	z-index: 5;
}
.content_title_btn{
	
}