.course_subjects{
	padding: 20px;
	border-radius: 4px;
	background: #fff;
	position: absolute;
	top: 5%;
	z-index: 5;
	display: none;
	transition: all .3s ease-in-out;
	li{
		display: inline-block;
		margin-right: .8rem;
		span{
			background: #fff;
			border: 1px solid #ccc;
			padding: 5px 8px;
			margin: 10px;
			display: inline-block;
		}
	}
	th{
		padding: 0 .4rem;
	}
	&List{
		border: 1px solid #D5D5D5;
		border-radius: 4px;
		padding: 1rem .8rem;
		margin-top: 1rem;
	}
}
