.department_mnt {
	background: #fff;
	border-radius: 4px;
	padding: 15px 20px;
	position: relative;
	&_course{
		height: 50px;
    	padding-bottom: 10px;
	}
	&_settings{
		position: absolute;
		top: 20px;
		right: 20px;
	}
}
.department_subjects--show {
	cursor: pointer;
}
