.department_add{
	position: fixed;
	background: #fff;
	border-radius: 4px;
	z-index: 5;
	top: 20%;
	left: 15%;
	padding: 1.5rem;
	display: none;
	margin: 0 auto;
	table {
		margin-bottom: 1.5rem;
	}
}
.department_add--overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 4;
	display: none;
}