.department_subjects{
	background: #fff;
	padding: 20px;
	border-radius: 4px;
	li{
		display: inline-block;
		span{
			background: #fff;
			border: 1px solid #ccc;
			padding: 5px 8px;
			margin: 10px;
			display: inline-block;
		}
	}
}
