.departmentList {
	display: none;
	&_items{

	}
}
.department_settings {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
	padding-bottom: 1.5rem;
	width: 100%;
	table{
		margin: 0 auto;
	}
	li{
		cursor: pointer;
		&:hover{
			color: #ccc;
		}
	}
	span{
		margin-right: 10px;
	}
}
.newDepartment{
	display:none;
	position: fixed;
	background: #fff;
	z-index: 5;
	left: 25%;
	top: 20%;
	padding: 1.5rem;
	&--overlay{
		display:none;
	}
}