.search_student {
	background: #FCF9F9;
	text-align: center;
}
.selectBar{
	margin-bottom: 20px;
	margin-right: 10px;
	display: inline-block;
	label{
		padding-right:5px;
	}
}
.block span:first-child {
	display: block;
}
.student_subjects{
	display: none;
}
.course_subjects{
	// display: block;
}