.input_groups{
	position: relative;
	display: inline-block;
	padding: .5rem .6rem;
	label {
		position: absolute;
		top: 50%;
		left: 10px;
		pointer-events: none;
		transform: translateY(-90%); 
		color: #999;
		padding-left: 10px;
		font-size: 1rem;
		font-weight: 400;
		transition: all .3s ease-in-out;
	}
	input{
		border: 0;
		outline: none;
		padding: 10px 0 2px 10px;
		font-size: 1rem;
		border-bottom: 2px solid #24A2FA;
		margin-bottom: 20px;
		display: inline-block;
		color: #21a1e1;
		&:focus + label,
		&.has--value + label{
			color: #aaa;
			font-size: .8rem;
			top: 15%; 
		}
	}
}

.input_name, .input_preRequisite{
	width: 7rem;
}
.input_des {
	width: 14rem;
}
.input_units{
	width: 5.93rem;
}
.input_cpu{
	width: 10.17rem;
}
.input_units, .input_cpu{
	text-align: center;
}
::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]),
::-webkit-datetime-edit-text:not([aria-valuenow]) {
    color: transparent;
}

.input__group--normal{
	display: inline-block;
	padding: 0 .8rem;
	margin: 1rem 0;
	label{
		display: block;
		margin-bottom: .2rem;
	}
}
.input__groups--last{
	margin-bottom: 2rem;
}
.registration__form{
	hr{
		margin-top: 1.5rem;
	}
}
