// header{
// 	background: #127A04;
// 	margin-bottom: 2rem;
// 	color: #fff;
// 	.header-content{
// 		padding: 1rem 0 1.2rem 0;
// 	}
// 	.header-container{
// 		margin-left: auto;
// 		margin-right: auto;
// 		width: 100%;
// 		max-width: 393.33px;
// 	}
// }
// .nav{
// 	background: #116D05;
// 	box-shadow: 0 3px 6px rgba(0,0,0,0.4);
// 	&_list{
// 		display: inline-block;
// 		padding:.5rem;
// 		margin-right: 1rem;
// 		position: relative;
// 		&:hover > .navBar_sub{
// 			display: block;
// 		}
// 	}
// 	&_items{
// 		transition: color .2s ease-in-out;
// 		color: #333;
// 		font-weight: 500;
// 		&:hover{
// 			color: #41CC44;
// 		}
// 	}
// 	.navBar_sub{
// 		background:#116D05;
// 		position: absolute;
// 		z-index: 4;
// 		width: 180px;
//     	padding: 5px 15px;
//     	left: 0;
//     	margin-top: .5rem;
//     	display: none;
//     	border-radius: 0 0 4px 4px;
//     	box-shadow: 0 0 5px rgba(0,0,0,0.4);
//     	transition: all .8s ease-in-out;
// 		a{
// 			display: block;	
// 		    padding: 10px 0;
// 		    color: #333;
// 		    transition: color .2s ease-in-out;
// 		    &:hover{
// 				color: #41CC44;
// 			}
// 		}
// 	}
// }
// //logo
// .logo{
// 	height: 80px;
// 	width: 80px;
// 	float: left;
// 		.logo-img{
// 			height: 80px;
// 			background-size: 80px 80px;
// 			background-image: url(/img/bcclogo.png);
// 			background-repeat: no-repeat;
// 		}
// }
//  .title{
//  	max-height: 80px;
//  	min-width: 300px;
//  	text-align: center;
// 	letter-spacing: 2px;
// 		.title_republic{
// 		 	font-size: .75rem;
// 		 	padding-top: 9px;
// 		 	font-weight: light;
// 		 }

// 		 .title_school {
// 		 	font-size: 1.25rem;
// 		 	font-weight: bold;
// 		 }
		 
// 		 .title_city{
// 		 	font-size: .8rem;
// 		 }
//  }
 header{
 	background: #fff;
	margin-bottom: 2rem;
	color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
	position: relative;
	z-index: 3;
	.header-content{
		padding: 1rem 0 1.2rem 0;
	}
	.header-container{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 393.33px;
	}
}
.nav{
	float: right;
	&_list{
		display: inline-block;
		padding:.5rem;
		margin-right: 1rem;
		position: relative;
		&:hover > .navBar_sub{
			display: block;
		}
	}
	&_items{
		transition: color .2s ease-in-out;
		color: #41CC44;
		font-weight: 500;
		&:hover{
			color: #1F9922;
		}
		line-height: 70px;
	}
	.navBar_sub{
		background:#fff;
		position: absolute;
		z-index: 4;
		width: 180px;
    	padding: 5px 15px;
    	left: 0;
    	margin-top: .5rem;
    	display: none;
    	border-radius: 0 0 4px 4px;
    	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    	transition: all .8s ease-in-out;
		a{
			display: block;	
		    padding: 10px 0;
		    color: #333;
		    transition: color .2s ease-in-out;
		    &:hover{
				color: #1F9922;
			}
		}
	}
}
.logo{
	float: left;
}
.banner{
	width: 100%;
	text-align: center;
	margin-top: 80px;
	position: relative;
}
.tagline__subheader{
	margin-bottom: 30px;
}
.image__one{
	width: 212px;
	height: 212px;
	background:{
		image: url('/img/1.png');
		repeat: no-repeat;
	}
}
.image__two{
	width: 195px;
	height: 212px;
	background:{
		image: url('/img/2.png');
		repeat: no-repeat;
	}
}
.image__three{
	width: 212px;
	height: 212px;
	background:{
		image: url('/img/3.png');
		repeat: no-repeat;
	}
}
.image__four{
	width: 212px;
	height: 212px;
	background:{
		image: url('/img/4.png');
		repeat: no-repeat;
	}
}
.banner__images{
	width: 100%;
	margin-top: 150px;
	li{
		display: inline-block;
		margin-right: 2rem;
	}
}