.content{
	background: #fff;
	margin-bottom: 2rem;
	padding: 15px 20px;
	border-radius: 4px;  
	position: relative;
	&__title{
		margin: 0;
		width: 34%;
		&--admin{
			margin-bottom: 1.5rem;
		}
		&_text{
			font-variant: small-caps;
			margin-bottom: .3rem;
			&--admin{
				margin-top: 0;
				margin-bottom: .5rem;
			}
		}
		&_border{
			display: block;
			border-bottom: 3px solid #18B318;
		}
		&_btn{
			font-size: 1rem;
			vertical-align: middle;
			padding: 5px 6px;
			margin-left: 10px;
			cursor:pointer;
		}
	}
}
