.admin {
	overflow: hidden;
	&_sidebar {
		position: fixed;
		height: 100%;
		max-width: 285px;
		background: #fff;
		text-align: center;
		border-radius: 4px;
		padding-top: 1.25rem;
		&--fixed{
			top: 0;
		}	
		&Nav{
			margin-top: 5%;
			&--list{
				margin-top: 20px;	
			}
			&--item{
				display: block;
				font-size: 1.414rem;
				padding: 10px 0;
				cursor: pointer;
				transition: color .3s ease-in-out;
				&:hover{
					color: #28E607;
				}
			}
		}
	}
}