.pull--right {
	float: right;
}
.pull--left {
	float: left;
}
.overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 4;
	display: none;
}
.boxShadow {
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
.modal{
	border-radius: 4px;
	background: #fff;
	position: fixed;
	top: 5%;
	z-index: 5;
	display: none;
}
.show{
	opacity: 1;
	transition: opacity .3s ease-in-out;
	display: block;
}
.hide{
	opacity: 0;
}