@import 'base/all';
@import 'module/all';

// test area
.registration_form {
	background: #fff;
	padding: 0 10px;
	margin-top: 30px;
}
.scheduling_studentInfo{
	padding-bottom: 20px;
	ul{
		margin: 20px 0;
	}
	li{
		padding: 10px;
	}
}
.preRequisite{
	position: absolute;
	top: 45px;
    background: #fff;
    width: 150px;
    height: auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	li{
		display: block;
		padding: .4rem;
		cursor: pointer;
		&:hover{
			color: #3272E6;
		}
	}
}