@import 'base/all';
@import 'module/all';

// test area
.registration_form {
	background: #fff;
	padding: 0 10px;
	margin-top: 30px;
}
header{
	background: #127A04;
	margin-bottom: 2rem;
	color: #fff;
	.header-content{
		padding: 1rem 0 1.2rem 0;
	}
	.header-container{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 393.33px;
	}
}
.nav{
	background: #116D05;
	box-shadow: 0 2px 4px rgba(0,0,0,0.4);
	&_list{
		display: inline-block;
		padding:.5rem;
		margin-right: 1rem;
		position: relative;
		&:hover > .navBar_sub{
			display: block;
		}
	}
	&_items{
		transition: color .2s ease-in-out;
		color: #222;
		font-weight: 500;
		&:hover{
			color: #41CC44;
		}
	}
	.navBar_sub{
		background:#116D05;
		position: absolute;
		z-index: 4;
		width: 180px;
    	padding: 5px 15px;
    	left: 0;
    	margin-top: .5rem;
    	display: none;
    	border-radius: 0 0 4px 4px;
    	box-shadow: 0 0 5px rgba(0,0,0,0.4);
    	transition: all .8s ease-in-out;
		a{
			display: block;	
		    padding: 10px 0;
		    color: #222;
		    transition: color .2s ease-in-out;
		    &:hover{
				color: #41CC44;
			}
		}
	}
}
footer{
	background: #127A04;
	color: #222;
	box-shadow: 2px 0 4px rgba(0,0,0,0.4);
}
.footer_nav{
	padding-bottom: 25px;
	a{
		color: #333;
		transition: color .2s ease-in-out;
		&:hover{
			color: #41CC44;
		}
	}
	&_sub{
		li{
			padding: 5px 8px;;
		}
	}
	&_list{
		border-right: 1px solid #168707;
		padding: 0;
		margin-right: .30%;
		p{
			font-size: .8rem;
			margin-top: 0;
		}
		.smLinks img{
		width: 32px;
		height: 32px;
		margin-right: 5px;
		}
		&:last-child{
			border-right: 0;
		}
	}
}

body{
	background:{
		image: url('/img/system_bg.png');
	}
}
.logo{
	height: 80px;
	width: 80px;
	float: left;
		.logo-img{
			height: 80px;
			background-size: 80px 80px;
			background-image: url(/img/bcclogo.png);
			background-repeat: no-repeat;
		}
}
 .title{
 	max-height: 80px;
 	min-width: 300px;
 	text-align: center;

		.title_republic{
		 	font-size: .75rem;
		 	padding-top: 9px;
		 	font-weight: light;
		 }

		 .title_school {
		 	font-size: 1.25rem;
		 	font-weight: bold;
		 }
		 
		 .title_city{
		 	font-size: .8rem;
		 }
 }
.menu{
  height: 20px;
  width: 100%;
}
// .nav{
// 	background-color: lightgreen;
// 	 ul{
// 		margin: 0;
// 		padding: 0;
	 
// 		li{
// 		 	font-size: 1rem;
// 		 	text-align: center;
// 		 	list-style-type: none;
// 			margin-left: 10px;
// 			display: inline-block;
// 			line-height: 22px;
// 			font-weight: light;
// 			cursor: pointer;
// 			padding-left: 25px;
// 			padding-right: 25px;
// 			padding-top: 10px;
// 			padding-bottom: 10px; 
// 			a{
// 				text-decoration: none;
			 
// 			}
// 		}
// 	}
// }
// .nav ul li:hover{
// 	transition: 0.8s;
// 	background-color: green;
// }
.follow-links{
	float: right;
	background-color: lightgreen;
	padding-top: 3px;
}
//footer
.footer-content{	
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: lightgreen;
	span{
			font-weight: bold;
			font-size: 1.1rem;
		}
	.copyright{
		padding-top: 15px;
		font-size: .9rem;
		font-weight: bold;
	}
}
.pad-bot{
	padding-bottom: 5px;
}
.contact ul, .admission ul,
	.about ul, .academics ul {
		margin: 0;
		padding: 0;
}

.contact li, .admission ul li, .about ul li,
	.academics ul li {
		list-style-type: none;
}

.admission a, .about a, 
	.academics a{
		text-decoration: none;

}
.contact-info{
	a{
		font-size: .9rem;
	}
}
.links{
	width: 100%;
	width: 200px;
	margin-top: 10px;
		ul{
			margin-bottom: 0;
			li{
				list-style-type: none;
				display: block;
				display: inline-block;
				margin-left: 5px;
				a {
					text-decoration: none;
					img{
						height: 25px;
					}
				}
			}
		}
}
.follow-links{
	width: 100%;
	text-align: right;
	float:right;
	width: 200px;
	ul{
		margin-top: 5px;
		margin-left: 5px;
		margin-bottom: 0;
		padding: 0;
		li{
			list-style-type: none;
			display: block;
			float: right;
			padding-left: 5px;
			a {
				text-decoration: none;
				img{
					height: 25px;
				}
			}
		}
	}
}