<!DOCTYPE html>
<html lang="en" ng-app = "ors_app">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Curriculum</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div ng-include="'/views/header.ejs'"></div>
	<div class="container" ng-controller ="curriculumsCtrl">
		<div class="twelve column">
			<article class="row">
				<div class="department_mnt boxShadow">
					<div class="row">
						<h3 class="content_title">Curriculum {{curYear}}</h3>
					</div>
					<a href="/administrator/curriculum/settings" class="department_mnt_settings">settings</a>
					<table>
						<thead>
							<tr>
								<th>Department Code</th>
								<th>Department Description</th>
								<th>Course Code</th>
								<th>Code Description</th>
								<th># of Years</th>
								<th># of Terms</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="department in curriculum">
								<td class="">{{department.department_name}}</td>
								<td class="">{{department.department_des}}</td>
								<td>
									<div ng-repeat="course in department.courses">
										<div class="department_mnt_course">{{course.course_name}}</div>	
									</div>
								</td>
								<td>
									<div ng-repeat="course in department.courses">
										<div class="department_mnt_course">{{course.course_des}}</div>	
									</div>
								</td>
								<td>
									<div ng-repeat="yearLevel in department.courses">
										<div class="department_mnt_course">{{yearLevel.totalYears}}</div>	
									</div>
								</td>
								<td>
									<div ng-repeat="term in department.courses">
										<div class="department_mnt_course">{{term.totalTerms}}</div>	
									</div>
								</td>
								<td>
									<div class="department_mnt_course department_subjects--show" ng-repeat="course in department.courses">
									<a href="/administrator/curriculum/course-subjects">subjects</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</article>
		</div>
	</div>
	<div ng-include="'/views/footer.ejs'"></div>
<script src="/lib/jquery-2.1.4.min.js"></script>
<script src="/lib/angular.min.js"></script>
<script src="/js/controllers/curriculumsCtrl.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>