<!DOCTYPE html>
<html lang="en" ng-app = "ors_app">
<head>
	<meta charset="UTF-8">
	<title>Curriculum</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div class="header"></div>
	<div class="container" ng-controller ="curriculumsCtrl">
		<div class="twelve column">
			<article class="row">
				<div class="department_mnt">
					<div class="row">
						<h3 class="content_title">Curriculum {{curriculum.school_year}}</h3>
					</div>
					<table>
						<thead>
							<tr>
								<th>Department Code</th>
								<th>Department Description</th>
								<th>Course Code</th>
								<th>Code Description</th>
								<th># of Years</th>
								<th># of Terms</th>
								<th><a href="/departments/settings">settings</a></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="department in departments">
								<td class="department_mnt_dep">{{department.department_name}}</td>
								<td class="department_mnt_dep">{{department.department_des}}</td>
								<td>
									<div ng-repeat="course in departments">
										<div class="department_mnt_course">{{course.course_name}}</div>	
									</div>
								</td>
								<td>
									<div ng-repeat="course in departments">
										<div class="department_mnt_course">{{course.course_des}}</div>	
									</div>
								</td>
								<td>
									<div ng-repeat="yearLevel in departments">
										<div class="department_mnt_course">{{yearLevel.year_level}}</div>	
									</div>
								</td>
								<td>
									<div ng-repeat="term in departments">
										<div class="department_mnt_course">{{term.term}}</div>	
									</div>
								</td>
								<td>
									<div class="department_mnt_course department_subjects--show" ng-repeat="course in departments">
									Subjects
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</article>
			<div class="department--overlay"></div>
			<div class="department_subjects">
				<div class="btn--close department_subjects--close">X</div>
				<ul>
					<li>
						<span>1</span>
					</li>
					<li>
						<span>2</span>
					</li>
					<li>
						<span>3</span>
					</li>
					<li>
						<span>4</span>
					</li>
				</ul>
				<div class="department_subjects_mnt">
					<span>1st semester</span><span>2nd semester</span>
					<table>
						<thead>
							<tr>
								<th>
									<label for="">Subject code</label>
									<input type="text" class="input_name">
								</th>
								<th>
									<label for="">Description</label>
									<input type="text" class="input_des">
								</th>
								<th>
									<label for="">Units</label>
									<input type="text" class="input_units">
								</th>
								<th>
									<label for="">Cost/Units</label>
									<input type="text" class="input_cpu">
								</th>
								<th>
									<label for="">Pre-requisite</label>
									<input type="text" class="input_preRequisite">
								</th>
								<th>
									<button class="btn btn--blue">Add</button>
								</th>
								<th>
									<button class="btn btn--green">Update</button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat = "subject in subjects">
								<td>{{subject.subject_name}}</td>
								<td>{{subject.subject_des}}</td>
								<td>{{subject.units}}</td>
								<td>{{subject.cost_perUnits}}</td>
								<td>{{subject.pre_requisite}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<script src="/lib/angular.min.js"></script>
<script src="/js/controllers/curriculumsCtrl.js"></script>
<script src="/lib/jquery-1.11.1.min.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>