<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Curriculum</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="container">
		<div class="twelve column">
			<article class="row">
				<div class="row">
					<h2 class="content_title">Curriculums<span href="" class="content_title_btn">Add</span></h2>
				</div>
				<div class="department_mnt">
					<table>
						<thead>
							<tr>
								<th>Year</th>
								<th>Department Code</th>
								<th>Department Description</th>
								<th>Course Code</th>
								<th>Code Description</th>
								<th># of Years</th>
								<th># of Terms</th>
								<th>settings</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="department_mntDep">2015</td>
								<td class="department_mntDep">ICT</td>
								<td class="department_mntDep">Information and communication Technology</td>
								<td>
									<div class="department_mntCourse">BSIT</div>
									<div class="department_mntCourse">BSCS</div>
									<div class="department_mntCourse">BSOA</div>
								</td>
								<td>
									<div class="department_mntCourse">Bachelor of Information Technology</div>
									<div class="department_mntCourse">Bachelor of Computer Science</div>
									<div class="department_mntCourse">Bachelor of Office Administration</div>
								</td>
								<td>
									<div class="department_mntCourse">4</div>
									<div class="department_mntCourse">4</div>
									<div class="department_mntCourse">4</div>
								</td>
								<td>
									<div class="department_mntCourse">2</div>
									<div class="department_mntCourse">2</div>
									<div class="department_mntCourse">2</div>
								</td>
								<td>
									<div class="department_mntCourse">Subjects</div>
									<div class="department_mntCourse">Subjects</div>
									<div class="department_mntCourse">Subjects</div>
								</td>
							</tr>
							<tr>
								<td class="department_mntDep">2015</td>
								<td class="department_mntDep">ICT</td>
								<td class="department_mntDep">Information and communication Technology</td>
								<td>
									<div class="department_mntCourse">BSIT</div>
									<div class="department_mntCourse">BSCS</div>
									<div class="department_mntCourse">BSOA</div>
								</td>
								<td>
									<div class="department_mntCourse">Bachelor of Information Technology</div>
									<div class="department_mntCourse">Bachelor of Computer Science</div>
									<div class="department_mntCourse">Bachelor of Office Administration</div>
								</td>
								<td>
									<div class="department_mntCourse">4</div>
									<div class="department_mntCourse">4</div>
									<div class="department_mntCourse">4</div>
								</td>
								<td>
									<div class="department_mntCourse">2</div>
									<div class="department_mntCourse">2</div>
									<div class="department_mntCourse">2</div>
								</td>
								<td>
									<div class="department_mntCourse">Subjects</div>
									<div class="department_mntCourse">Subjects</div>
									<div class="department_mntCourse">Subjects</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</article>
		</div>
	</div>
	
	
<script src="lib/angular.min.js"></script>
</body>
</html>