<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Curriculum Settings</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div class="header"></div>
	<div class="container">
		<div class="twelve column">
			<div class="curriculum_setting_list">
				<h3 class="content_title">Settings</h3>
				<form class="curriculum_setting">
					<div class="input_groups">
						<label for="" class="">Curriculum year</label>
						<input type="text">
					</div>
					<h4>Departments<span href="" class="content_title_btn">Add</span></h4>
					<div class="input_groups">
						<label for="">Department code</label>
						<input type="text" class="input_name">
					</div>
					<div class="input_groups">
						<label for="">Department name</label>
						<input type="text" class="input_des">
					</div>
					<table>
						<thead>
							<tr>
								<th>
									<label for="">Course code</label>
									<input type="text" class="input_name">
								</th>
								<th>
									<label for="">Course description</label>
									<input type="text" class="input_des">
								</th>
								<th>
									<label for="">years</label>
									<input type="text" class="input_units">
								</th>
								<th>
									<label for="">terms</label>
									<input type="text" class="input_units">
								</th>
								<th><button class="btn btn--blue">Add</button></th>
								<th><button class="btn btn--green">Update</button></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Course Code</th>
								<th>Course description</th>
								<th># of years</th>
								<th># of terms</th>
							</tr>
							<tr>
								<td>BSHM</td>
								<td>Bachelor of home management</td>
								<td>4</td>
								<td>2</td>
								<td><button class="btn btn--orange">Edit</button></td>
								<td><button class="btn btn--red">Delete</button></td>
							</tr>
							<tr>
								<td>ITP</td>
								<td>Information Technology Process</td>
								<td>2</td>
								<td>2</td>
								<td><button class="btn btn--orange">Edit</button></td>
								<td><button class="btn btn--red">Delete</button></td>
							</tr>
						</tbody>
					</table>
				</form>
				<form class="curriculum_setting">
					<div class="input_groups">
						<label for="">Department code</label>
						<input type="text" class="input_name">
					</div>
					<div class="input_groups">
						<label for="">Department name</label>
						<input type="text" class="input_des">
					</div>
					<table>
						<thead>
							<tr>
								<th>
									<label for="">Course code</label>
									<input type="text" class="input_name">
								</th>
								<th>
									<label for="">Course description</label>
									<input type="text" class="input_des">
								</th>
								<th>
									<label for="">years</label>
									<input type="text" class="input_units">
								</th>
								<th>
									<label for="">terms</label>
									<input type="text" class="input_units">
								</th>
								<th><button class="btn btn--blue">Add</button></th>
								<th><button class="btn btn--green">Update</button></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Course Code</th>
								<th>Course description</th>
								<th># of years</th>
								<th># of terms</th>
							</tr>
							<tr>
								<td>BSHM</td>
								<td>Bachelor of home management</td>
								<td>4</td>
								<td>2</td>
								<td><button class="btn btn--orange">Edit</button></td>
								<td><button class="btn btn--red">Delete</button></td>
							</tr>
							<tr>
								<td>ITP</td>
								<td>Information Technology Process</td>
								<td>2</td>
								<td>2</td>
								<td><button class="btn btn--orange">Edit</button></td>
								<td><button class="btn btn--red">Delete</button></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>	
		</div>
	</div>


<script src="/lib/angular.min.js"></script>
<script src="/lib/jquery-1.11.1.min.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>