<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>School courses</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div ng-include="'/views/header.ejs'"></div>
	<div class="container">
		<div class="twelve column">
			<div class="course_view">
			  <h3>Find course info</h3>
			  <div class="selectBar">
			    <span>Department</span>
			    <select>
			      <option>ICT</option>
			      <option>Arts and science</option>
			      <option>engineering</option>
			    </select>
			  </div>
			  <div class="selectBar">
			    <span>Course</span>
			    <select>
			      <option>BSIT</option>
			      <option>BSOA</option>
			      <option>BSAT</option>
			    </select>
			  </div>
			  <div class="selectBar">
			    <span>Year</span>
			    <select>
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			    </select>
			  </div>
			  <div class="selectBar">
			    <span>Term</span>
			    <select>
			      <option>1</option>
			      <option>2</option>
			    </select>
			  </div>
			  <h4>Course Information</h4>
			  <table class="courses">
			    <thead>
			      <tr>
			        <th>Year</th>
			        <th>term</th>
			        <th>course code</th>
			        <th>course des</th>
			        <th>subject code</th>
			        <th>subject des</th>
			        <th>units</th>
			        <th>cost/units</th>
			        <th>tuition</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>1</td>
			        <td>1</td>
			        <td>BSIT</td>
			        <td>Bachelor of information technology</td>
			        <td>
			          <div class="subject_code">Addprog</div>
			          <div class="subject_code">addbase</div>
			          <div class="subject_code">addbase</div>
			          <div class="subject_code">Addprog</div>
			        </td>
			        <td> 
			          <div class="subject_des">addvance programming</div>
			          <div class="subject_des">addvance programming</div>
			          <div class="subject_des">addvance programming</div>
			          <div class="subject_des">addvance programming</div>
			        </td>
			        <td> 
			          <div class="units">3</div>
			          <div class="units">3</div>
			          <div class="units">3</div>
			          <div class="units">3</div>
			        </td>
			        <td>
			          <div class="cpu">30</div>
			          <div class="cpu">30</div>
			          <div class="cpu">30</div>
			          <div class="cpu">30</div>
			        </td>
			        <td> 
			          <div class="tuition">P1800</div>
			        </td>
			      </tr>
			      <tr>
			        <td>1</td>
			        <td>2</td>
			        <td>BSIT</td>
			        <td>Bachelor of information technology</td>
			        <td>
			          <div class="subject_code">Addprog</div>
			          <div class="subject_code">addbase</div>
			        </td>
			        <td> 
			          <div class="subject_des">addvance programming</div>
			          <div class="subject_des">addvance programming</div>
			        </td>
			        <td> 
			          <div class="units">3</div>
			          <div class="units">3</div>
			        </td>
			        <td>
			          <div class="cpu">30</div>
			          <div class="cpu">30</div>
			        </td>
			        <td> 
			          <div class="tuition">P1800</div>
			        </td>
			      </tr>
			    </tbody>
			  </table>
			</div>
		</div>
	</div>
<script src="/lib/jquery-2.1.4.min.js"></script>
<script src="/lib/angular.min.js"></script>
<script src="/js/controllers/curriculumsCtrl.js"></script>
<script src="/js/sideBarFixed.js"></script>
<script src="/js/admin.js"></script>	
</body>
</html>