<!DOCTYPE html>
<html lang="en" ng-app="ors_app">
<head>
	<meta charset="UTF-8">
	<title>Administrator</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div class="header"></div>
	<div class="department_add--overlay"></div>
	<div class="container admin">
		<div class="three column admin_sidebar">
			<div class="person">
				<div class="person_image"><img src="img/me.png" alt=" Profile picture "></div>
				<div class="person_name">Robert Admin</div>
				<div class="person_role">Administrator</div>
			</div>
			<div class="admin_sidebarNav">
				<ul>
					<li class="admin_sidebarNav--list">
						<a class="admin_sidebarNav--item">Curriculum</a>
					</li>
					<li class="admin_sidebarNav--list">
						<a class="admin_sidebarNav--item">Assestments</a>
					</li>
					<li class="admin_sidebarNav--list">
						<a class="admin_sidebarNav--item">Reports</a>
					</li>
					<li class="admin_sidebarNav--list">
						<a class="admin_sidebarNav--item">Blog</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- the admin_content class is just for test -->
		<div class="nine column admin_content">
			<article class="content row">
				<div class="row">
					<h3 class="content_title">Curriculum<span href="" class="department_add--show content_title_btn">Add</span></h3>
				</div>
				<div class="curriculum four column">
					<div class="curriculum_box cf">
						<div class="tag"><h3>2015</h3></div>
						<div class="tag">Curriculum</div>
						<div class="curriculum_box--overlay">
							<div class="curriculum_box_btn"><a href="/curriculum">View</a></div>
						</div>
					</div>
				</div>
			</article>
			<article class="content row">
				<div class="row">
					<h3 class="content_title">Assestment<span href="" class="assestment--overlayShow content_title_btn ">Add</span></h3>
				</div>
				<div class="assestment">
					<div class="assestment--overlay">
						<form action="" class="assestment_form row">
							<div class="btn--close assestment--overlayClose">X</div>
							<div class="input_groups">
								<label for="fee_label">Type of School Fee</label>
								<input type="text">
							</div>
							<div class="assestment_mtn row">
								<table class=" twelve column">
									<thead>
										<tr>
											<th>
												<label for="fee_name">Fee name</label>
												<input type="text">
											</th>
											<th>
												<label for="fee_amount">Fee amount</label>
												<input type="text">
											</th>
											<th>
												<button class="btn btn--blue">Add</button>
											</th>
											<th>
												<button class="btn btn--green">Update</button>
											</th>
										</tr>
									</thead>
									<tbody class="assestment_mtn_body">
										<tr>
											<th>Name</th>
											<th>Amount</th>
										</tr>
										<tr>
											<td>Equipment</td>
											<td><span>P</span>1,000</td>
											<td><button class="btn btn--orange">Edit</button></td>
											<td><button class="btn btn--red">Delete</button></td>
										</tr>
										<tr>
											<td>Libary</td>
											<td><span>P</span>2,000</td>
											<td><button class="btn btn--orange">Edit</button></td>
											<td><button class="btn btn--red">Delete</button></td>
										</tr>
										<tr>
											<td>Insurance</td>
											<td><span>P</span>3,000</td>
											<td><button class="btn btn--orange">Edit</button></td>
											<td><button class="btn btn--red">Delete</button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
					<table class="assestment_fees twelve column">
						<thead>
							<tr>
								<th>Type of Fee</th>
								<th>Date Created</th>
								<th># of Fees</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Other School fee</td>
								<td>1-2-3</td>
								<td>3</td>
								<td><span>P</span>10,000</td>
								<td><button class="btn btn--blue assestment_formView">View</button></td>
							</tr>
							<tr>
								<td>Miscellenous</td>
								<td>6-4-2</td>
								<td>4</td>
								<td><span>P</span>8,000</td>
								<td><button class="btn btn--blue assestment_formView">View</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</article>
		</div>
	</div>
	<div class="curriculum_year">
		<div class="btn--close curriculum--overlayClose">X</div>
		<div class="input_groups">
			<label for="">Year</label>
			<input type="text" class="input_units" ng-model="curriculum_new.school_year">
		</div>
		<a class="btn pull--right" href="/departments/settings">Next</a>
	</div>
	<!-- <div class="container" ng-controller= "curriculumsCtrl">
		<div class="department_add">
			<form class="cf">
				<div class="input_groups">
					<label for="">Year</label>
					<input type="text" class="input_units" ng-model="curriculum_new.school_year">
				</div>
				<div class="department_add_table">
					<h3>Department<span href="" class="content_title_btn">Add</span></h3>
					<table>
						<thead>
							<tr>
								<th>
									<label for="">Department Name</label>
									<input type="text" class="input_name" ng-model="curriculum_new.department_name">
								</th>
								<th>
									<label for="">Department Description</label>
									<input type="text" class="input_des" ng-model="curriculum_new.department_des">
								</th>
							</tr>
						</thead>
						<tbody class="department_add_courses">
							<tr>
								<th>
									<label for="">Course Code</label>
									<input type="text" class="input_name" ng-model="curriculum_new.course_name">
								</th>
								<th>
									<label for="fee_amount">Course Description</label>
									<input type="text" class="input_des" ng-model="curriculum_new.course_des">
								</th>
								<th>
									<label for="fee_amount">year levels</label>
									<input type="text" class="input_units" ng-model="curriculum_new.year_level">
								</th>
								<th>
									<label for="fee_amount">semester</label>
									<input type="text" class="input_units" ng-model="curriculum_new.term">
								</th>
								<th>
									<button class="btn btn--blue">Add</button>
								</th>
							</tr>
							<tr ng-repeat="selection in selections.departments">
								<td>
									<input type="text" class="input_name" value="{{selection.course_name}}">
								</td>
								<td>
									<input type="text" class="input_des" value="{{selection.course_des}}">
								</td>
								<td>
									<input type="number" class="input_units" value="{{selection.year_level}}">
								</td>
								<td>
									<input type="number" class="input_units" value="{{selection.term}}">
								</td>
								<th>
									<button class="btn btn--red">Delete</button>
								</th>
							</tr>
						</tbody>
					</table>
					<div class="btn pull--right" ng-click="curriculum_add()">Next</div>
				</div>
			</form>	
		</div>
	</div> -->
<script src="/lib/jquery-1.11.1.min.js"></script>
<script src="/lib/angular.min.js"></script>
<script src="/js/controllers/curriculumsCtrl.js"></script>
<script src="/js/sideBarFixed.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>