<!DOCTYPE html>
<html lang="en" ng-app = "ors_app">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Program Coordinator</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div ng-include="'/views/header.ejs'"></div>

<script src="/lib/jquery-2.1.4.min.js"></script>
<script src="/lib/angular.min.js"></script>
<script src="/js/controllers/curriculumsCtrl.js"></script>
<script src="/js/sideBarFixed.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>