<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Program Coordinator | Set Schedule</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div ng-include="'/views/header.ejs'"></div>
	<div class="container">
		<div class="twelve column">
			<div class="content">
				<div class="content_title">
					<h3>Set Schedule</h3>
				</div>
				<div>
					Course:<span>BSIT</span>
					Course description:<span>Bachelor of information technology</span>
					year: <span>2</span>
					term: <span>2</span>
				</div>
				<div class="input_groups">
					<label for="">Section</label>
					<input type="text">
				</div>
				<table>
					<thead>
						<tr>
							<th>Subject Code</th>
							<th>Subject Description</th>
							<th>Units</th>
							<th>Time</th>
							<th>Day</th>
							<th>Rm. no.</th>
							<th>Instructor</th>
							<th><div class="btn">Add</div></th>
							<th><div class="btn">Update</div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Addprog</td>
							<td>Advance Programming</td>
							<td>3</td>
							<td>
								<div class="input_groups">
									<label for="">Time</label>
									<input type="text" class="input_units">
								</div>
							</td>
							<td>
								<div class="input_groups">
									<label for="">Day</label>
									<input type="text" class="input_units">
								</div>
							</td>
							<td>
								<div class="input_groups">
									<label for="">Rm. no.</label>
									<input type="text" class="input_units">
								</div>
							</td>
							<td>
								<div class="input_groups">
									<label for="">Instructor</label>
									<input type="text" class="input_name">
								</div>
							</td>
							<td><div class="btn">edit</div></td>
							<td><div class="btn">delete</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<script src="/lib/jquery-2.1.4.min.js"></script>
<script src="/lib/angular.min.js"></script>
<script src="/js/controllers/curriculumsCtrl.js"></script>
<script src="/js/sideBarFixed.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>