<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Student info</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div class="header"></div>
  <div class="container">
    <div class="student_info twelve column">
      <div class="overlay"></div>
      <div class="student_info_details row">
        <h3>Student Information</h3>
        <div class="block">
          <span class="caption">Student Name</span><span>Robert Janagap</span>
        </div>
        <div class="block">
          <span>Age</span><span>20</span>
        </div>
        <div class="block">
          <span>Gender</span><span>Male</span>
        </div>
        <div class="block">
          <span>Address</span><span>Talisay City</span>
        </div>
        <div class="block">
          <span>Contact No.</span><span>xxxxxx</span>
        </div>
        <div class="block">
          <span>Date of Birth</span><span>11-06-1994</span>
        </div>
        <div class="block">
          <span>Nationality</span><span>Filifino</span>
        </div>
        <div class="block">
          <span>civil status</span><span>Single</span>
        </div>
        <div class="block">
          <span>Email</span><span>xxx@gmail.com</span>
        </div>
        <div class="block">
          <span>Mother's name</span><span>trythis</span>
        </div>
        <div class="block">
          <span>Mother's Occupation</span><span>housewife</span>
        </div>
        <div class="block">
          <span>father's name</span><span>testing</span>
        </div>
        <div class="block">
          <span>father's Occupation</span><span>househusband</span>
        </div>
        <h3>School Attended</h3>
        <div class="block">
          <span>Highest Educational Attended</span><span>College</span>
        </div>
        <div class="block">
          <span>Previous School</span><span>STI</span>
        </div>
        <div class="block">
          <span>School Address</span><span>Cadiz city</span>
        </div>
        <h3>Guardian</h3>
        <div class="block">
          <span>Guardian name</span><span>Guardian</span>
        </div>
        <div class="block">
          <span>Address</span><span>silay city</span>
        </div>
        <div class="block">
          <span>Contact no.</span><span>xxxxxx</span>
        </div>
        <div class="block">
          <span>Relationship</span><span>Sister</span>
        </div>
      </div>
    </div>
  </div>
<script src="/lib/jquery-1.11.1.min.js"></script>
<script src="/lib/angular.min.js"></script>
<script src="/js/controllers/curriculumsCtrl.js"></script>
<script src="/js/sideBarFixed.js"></script>
<script src="/js/admin.js"></script>	
</body>
</html>